openapi: 3.0.3
info:
  title: Provoly Hypervisor API
  description: CRUD Operation on repositories data
  version: 1.0.0
servers:
  - url: http://provoly-hypervisor.com
paths:
  /events:
    get:
      tags:
        - Event Controller
      summary: Retrieve all events with pagination
      description: |
        Default sort on `status` (NEW,IN_PROGRESS,DONE), `criticality` (HIGH,MEDIUM,LOW) and `lastModificationDate` (reversed). It's possible to override it by sorting on other attributes.
        If order is no provided when sort, the default is asc.
        It's possible to filter on one or more criticalities or statuses.
      operationId: com.provoly.event.EventController_getEvents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Page number requested, triggers an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, returns an empty list if not specified.
        - name: creationDate
          in: query
          description: The date must be set to midnight. The filter will return all events created on that day.
          schema:
            type: string
            example: 2024-01-20T00:00:00Z
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Status'
        - name: category
          in: query
          schema:
            type: array
            items:
              oneOf:
                - $ref: '#/components/schemas/OperatorCategory'
                - $ref: '#/components/schemas/AlertCategory'
                - $ref: '#/components/schemas/ReportCategory'
        - name: entity
          in: query
          description: The equipment entity name. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'CHALONS_COMMUN' ]
        - name: family
          in: query
          description: The equipment family code. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'EP_O','EP_FL','EP_A' ]
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/EventSort'
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/SortOrder'
      responses:
        "200":
          description: Return 2 events with `status` is `DONE` or `NEW` and `criticality` is `LOW` or `HIGH`
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/AlertEventReadDto'
                    - $ref: '#/components/schemas/ReportEventReadDto'
                    - $ref: '#/components/schemas/OperatorCategory'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": 1,
                        "name": "Defaillance lampe",
                        "address": "112 Av. de Paris, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "LOW",
                        "status": "DONE",
                        "type": "ALERT",
                        "lastModificationDate": "2024-02-23T11:12:39.375184Z",
                        "creationDate": "2024-01-22T11:12:39.375184Z",
                        "equipment": {
                          "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23915",
                          "name": "C-1034",
                          "type": "Ouvrage",
                          "entity": "AGGLO_COMMUN"
                        },
                        "procedureId": 4,
                        "linkedEvents": 2,
                        "procedureProgress": 100,
                        "externalSourceRef": "citylinx_1",
                        "category": "MALFUNCTION"
                      },
                      {
                        "id": 2,
                        "name": "Maintenance ouvrage2",
                        "address": "63 Rue de Fagnières, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "MEDIUM",
                        "status": "DONE",
                        "type": "REPORT",
                        "lastModificationDate": "2024-02-22T11:12:39.375184Z",
                        "creationDate": "2024-01-23T11:12:39.375184Z",
                        "equipment": null,
                        "procedureId": "4",
                        "linkedEvents": 2,
                        "procedureProgress": 100,
                        "externalSourceRef": "external_source3",
                        "category": "REPORT"
                      },
                      {
                        "id": 3,
                        "name": "Festival Chalons",
                        "address": "28 E Rue du Général Fery, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "MEDIUM",
                        "status": "IN_PROGRESS",
                        "type": "OPERATOR",
                        "lastModificationDate": "2024-02-20T11:12:39.375184Z",
                        "creationDate": "2024-01-20T11:12:39.375184Z",
                        "equipment": null,
                        "procedureId": "3",
                        "linkedEvents": 1,
                        "procedureProgress": 0,
                        "category": "MANIFESTATION",
                        "startDate": "2008-01-02T23:00:00Z",
                        "endDate": "2008-01-03T23:00:00Z"
                      }
                    ]

        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
      security:
        - oidc:
            - authenticated
    post:
      tags:
        - Event Controller
      summary: Save an Event
      operationId: com.provoly.event.EventController_saveEvent
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AlertEventWriteDto'
                - $ref: '#/components/schemas/OperatorEventWriteDto'
                - $ref: '#/components/schemas/ReportEventWriteDto'
            examples:
              default:
                summary: Create "alert" event
                value: |
                  {
                    "name":"event alert",
                    "description": "desc",
                    "address": "1 rue simone veil",
                    "criticality": "HIGH",
                    "category":"LIMIT",
                    "equipmentId":"0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                    "externalSourceRef": "source"
                  }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                  oneOf:
                    - $ref: '#/components/schemas/AlertEventReadDto'
                    - $ref: '#/components/schemas/ReportEventReadDto'
                    - $ref: '#/components/schemas/OperatorCategory'
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidName:
                  description: Occurs when name already exists
                  value: |
                    {
                        "code": 400,
                        "message": "Event with name 'event alert' already exists"
                    }
                invalidEquipment:
                  description: Occurs when equipmentId not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with id '0c728960-d5fd-49ea-8fe8-f72cb9cfcccd' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - authenticated
  /events/id/{id}:
    get:
      tags:
        - Event Controller
      summary: Retrieve event by id
      operationId: com.provoly.event.EventController_getEventDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 21
          required: true
      responses:
        "200":
          description: Returns Event Details by id
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AlertEventReadDto'
                  - $ref: '#/components/schemas/ReportEventReadDto'
                  - $ref: '#/components/schemas/OperatorEventReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": 21,
                      "name": "Defaillance lampe",
                      "address": null,
                      "description": null,
                      "criticality": "LOW",
                      "status": "DONE",
                      "type": "ALERT",
                      "lastModificationDate": "2024-02-23T12:56:00.802501Z",
                      "creationDate": "2024-02-23T12:56:00.802501Z",
                      "category": "MALFUNCTION",
                      "equipment": {
                        "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23915",
                        "name": "C-1034",
                        "type": "Ouvrage",
                        "entity": "Châlons Agglo"
                      },
                      "externalSourceRef": "citylinx_1"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Event Not found
      security:
        - oidc:
            - authenticated
    put:
      tags:
        - Event Controller
      summary: Update an Event
      description: |
        Update an event which is not an Alert event.
        Also, it's not possible to update external source reference of Report events.
      operationId: com.provoly.event.EventController_updateEvent
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 1
          required: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/OperatorEventWriteDto'
                - $ref: '#/components/schemas/ReportEventWriteDto'
            examples:
              default:
                summary: Update "report" event
                value: |
                  {
                    "id": 1,
                    "name":"event report updated",
                    "description": "desc",
                    "address": "2 rue virgina woolf",
                    "criticality": "HIGH",
                    "category":"LIMIT",
                    "equipmentId":"0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                    "externalSourceRef": "source"
                  }
      responses:
        "204":
          description: Updated
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidName:
                  description: Occurs when name already exists
                  value: |
                    {
                        "code": 400,
                        "message": "Event with name 'event report updated' already exists"
                    }
                invalidEquipment:
                  description: Occurs when equipmentId not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with id '0c728960-d5fd-49ea-8fe8-f72cb9cfcccd' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
        "404":
          description: Event not Found
      security:
        - oidc:
            - authenticated
  /events/id/{id}/close:
    put:
      tags:
        - Event Controller
      summary: Close event by id and update close date
      description: Set status to DONE. Close date is not updated if event is already closed
      operationId: com.provoly.event.EventController_closeEvent
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 22
          required: true
      responses:
        "204":
          description: Updated
        "401":
          description: Not Authorized
        "404":
          description: Event Not found
      security:
        - oidc:
            - authenticated
  /events/summary:
    get:
      tags:
        - Event Controller
      summary: Retrieve summary events grouped by status
      description: Returns the last n summary events, sorted by last modification date and status. It is possible to sort these summary events by criticality
      operationId: com.provoly.event.EventController_getEventSummaries
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Limit of summary events by status. Default to 5.
        - name: criticality
          in: query
          schema:
            $ref: '#/components/schemas/Criticality'
          example: "HIGH"
          description: Filter on the criticality required
          required: false
      responses:
        "200":
          description: Return first summary event by status with a `MEDIUM` criticality
          content:
            application/json:
              schema:
                properties:
                  NEW:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
                  IN_PROGRESS:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
                  DONE:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
              examples:
                default:
                  value: |
                    {
                      "IN_PROGRESS": {
                        "count": 2,
                        "events": [
                          {
                            "id": 34,
                            "name": "Festival Chalons",
                            "criticality": "MEDIUM",
                            "status": "IN_PROGRESS",
                            "type": "OPERATOR",
                            "lastModificationDate": "2024-02-20T10:37:33.792659Z",
                            "category": "MANIFESTATION",
                            "interventionRequestTitle": null,
                            "interventionRequestCount": 1,
                            "manifestation": {
                              "startDate": "2008-01-02T23:00:00Z",
                              "endDate": "2008-01-03T23:00:00Z"
                            }
                          }
                        ]
                      },
                      "DONE": {
                        "count": 1,
                        "events": []
                      },
                      "NEW": {
                        "count": 3,
                        "events": [
                          {
                            "id": 22,
                            "name": "Maintenance ouvrage2",
                            "criticality": "MEDIUM",
                            "status": "NEW",
                            "type": "REPORT",
                            "lastModificationDate": "2024-02-20T10:37:33.792659Z",
                            "category": "REPORT",
                            "interventionRequestTitle": "intervention procedure_2",
                            "interventionRequestCount": 2,
                            "manifestation": {}
                          }
                        ]
                      }
                    }
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidCriticality:
                  description: Occurs when Criticality filter is invalid
                  value: |
                    {
                        "code": 400,
                        "message": "No enum constant com.provoly.event.Criticality.toto"
                    }
                invalidLimit:
                  description: Occurs when limit query is invalid
                  value: |
                    {
                        "code": 400,
                        "message": "'limit' must be greater than 0"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
          content:
            application/json:
              examples:
                invalidLimit:
                  description: Occurs when limit query is invalid
                  value: |
                    {
                        "code": 403,
                        "message": "'limit' must be greater than 0"
                    }
      security:
        - oidc:
            - authenticated
  /procedures/model:
    get:
      tags:
        - Procedure Model Controller
      summary: Retrieve all procedures model with pagination
      description: |
        Default sort on `useCount` (reversed) and  `name`. It's possible to override it by sorting on other attributes.
        If order is no provided when sort, the default is asc.
        It's possible to filter on one or more domains, or search by name, creator or id by using `search` filter
      operationId: com.provoly.event.ProcedureModelController_getProceduresModel
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Page number requested, triggers an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, returns an empty list if not specified.
        - name: search
          in: query
          description: Returns all procedures whose value is contained in the `name`, `creator` or `id` property
          schema:
            type: string
            example: proc
        - name: domain
          in: query
          description: The domain code. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'EP' ]

        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ProcedureModelSort'
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/SortOrder'
      responses:
        "200":
          description: Return 2 procedures models with `domain` is `EP` and `name`, `creator` or `id``contains "laura"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcedureModelReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": 1,
                        "name": "laura's procedure",
                        "description": "description",
                        "creationDate": "2024-06-20T07:39:35.555495Z",
                        "lastModificationDate": "2024-06-20T07:44:06.853084Z",
                        "creator": "eliott",
                        "domain": "EP",
                        "useCount": 4,
                        "actions": []
                      },
                      {
                        "id": 1,
                        "name": "procedure model 4",
                        "description": "description",
                        "creationDate": "2024-06-20T07:39:35.555495Z",
                        "lastModificationDate": "2024-06-20T07:44:06.853084Z",
                        "creator": "laura",
                        "domain": "EP",
                        "useCount": 0,
                        "actions": [ ]
                      }
                    ]

        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
      security:
        - oidc:
            - authenticated
    post:
      tags:
        - Event Controller
      summary: Save an Event
      operationId: com.provoly.event.EventController_saveEvent
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AlertEventWriteDto'
                - $ref: '#/components/schemas/OperatorEventWriteDto'
                - $ref: '#/components/schemas/ReportEventWriteDto'
            examples:
              default:
                summary: Create "alert" event
                value: |
                  {
                    "name":"event alert",
                    "description": "desc",
                    "address": "1 rue simone veil",
                    "criticality": "HIGH",
                    "category":"LIMIT",
                    "equipmentId":"0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                    "externalSourceRef": "source"
                  }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AlertEventReadDto'
                  - $ref: '#/components/schemas/ReportEventReadDto'
                  - $ref: '#/components/schemas/OperatorCategory'
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidName:
                  description: Occurs when name already exists
                  value: |
                    {
                        "code": 400,
                        "message": "Event with name 'event alert' already exists"
                    }
                invalidEquipment:
                  description: Occurs when equipmentId not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with id '0c728960-d5fd-49ea-8fe8-f72cb9cfcccd' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - authenticated
  /procedures/model/id/{id}:
    get:
      tags:
        - Procedure Model Controller
      summary: Retrieve procedure model by id
      operationId: com.provoly.procedure.ProcedureModelController_getProcedureDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 29
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Procedure Model Not found
        "200":
          description: Returns procedure model Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureModelReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": 29,
                      "name": "procedure model 4",
                      "description": "description",
                      "creationDate": "2024-06-20T07:39:35.555495Z",
                      "lastModificationDate": "2024-06-20T07:44:06.853084Z",
                      "creator": "Jean Dupont",
                      "domain": "VP",
                      "useCount": 0,
                      "actions": []
                    }
      security:
        - oidc:
            - authenticate
    put:
      tags:
        - Procedure Model Controller
      summary: Update procedure model
      operationId: com.provoly.procedure.ProcedureModelController_updateProcedureModel
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureModelWriteDto'
            examples:
              default:
                summary: Update Procedure model
                value: |
                  {
                    "id": 3,
                    "name": "procedure model updated",
                    "description": "description"
                    "creator": "toto",
                    "domain": "VP",
                    "useCount": 0,
                    "actions": []
                  }
      responses:
        "204":
          description: Updated
        "400":
          description: Bad Request
        "401":
          description: Not Authorized
      security:
        - oidc:
            - authenticated
  /procedures/id/{id}:
    get:
      tags:
        - Procedure Controller
      summary: Retrieve procedure by id
      operationId: com.provoly.procedure.ProcedureController_getProcedureDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 45
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Procedure Not found
        "200":
          description: Returns procedure Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": 45,
                      "name": "procedure maintenance",
                      "creationDate": "2024-02-23T12:56:00.802501Z",
                      "actions": [
                        {
                          "id": "6b5ca865-87e5-467b-a996-4c0629e8f94c",
                          "name": "intervention procedure_2",
                          "type": "INTERVENTION_REQUEST",
                          "status": "IN_PROGRESS",
                          "lastModificationDate": "2024-02-23T12:56:00.802501Z"
                        },
                        {
                          "id": "a08e2110-3a9c-4f77-bf65-31150201bbfa",
                          "name": "intervention procedure_2 bis",
                          "type": "INTERVENTION_REQUEST",
                          "status": "DONE",
                          "lastModificationDate": "2024-02-23T12:56:00.802501Z"
                        }
                      ],
                      "events": [
                        {
                          "id": 66,
                          "name": "Defaillance lampe",
                          "address": null,
                          "description": null,
                          "criticality": "LOW",
                          "status": "DONE",
                          "type": "ALERT",
                          "lastModificationDate": "2024-02-23T12:56:00.802501Z",
                          "creationDate": "2024-02-23T12:56:00.802501Z",
                          "category": "MALFUNCTION",
                          "equipment": {
                            "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23915",
                            "name": "C-1034",
                            "type": "Ouvrage",
                            "entity": "Châlons Agglo"
                          },
                          "externalSourceRef": "citylinx_1"
                        },
                        {
                          "id": 37,
                          "name": "Maintenance ouvrage2",
                          "address": null,
                          "description": null,
                          "criticality": "MEDIUM",
                          "status": "NEW",
                          "type": "REPORT",
                          "lastModificationDate": "2024-02-23T12:56:00.802501Z",
                          "creationDate": "2024-02-23T12:56:00.802501Z",
                          "category": "REPORT",
                          "equipment": {
                            "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23916",
                            "name": "C-761",
                            "type": "Ouvrage",
                            "entity": "Châlons Agglo"
                          },
                          "externalSourceRef": "external_source3"
                        }
                      ],
                      "progress": 50.0
                    }
      security:
        - oidc:
            - authenticate
    put:
      tags:
        - Procedure Controller
      summary: Update events procedure
      operationId: com.provoly.procedure.ProcedureController_updateProcedure
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureWriteDto'
            examples:
              default:
                summary: Update Report event from procedure
                value: |
                  {
                    "id": 3,
                    "name": "procedure_1",
                    "events": [
                      {
                        "id": 2,
                        "name": "Accident voiture UPDATE",
                        "address": "10 Rue du Camp d'Attila, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "HIGH",
                        "type": "REPORT",
                        "equipmentId": "4ead3c85-f120-4144-8ca2-29ac9882ff5f",
                        "externalSourceRef": "external_source2",
                        "category": "REPORT"
                      }
                    ]
                  }
      responses:
        "204":
          description: Updated
        "400":
          description: Bad Request
        "401":
          description: Not Authorized
      security:
        - oidc:
            - authenticated
  /procedures/id/{id}/close:
    put:
      tags:
        - Procedure Controller
      summary: Close all procedure events by id
      description: Set status to DONE. Close date is not updated if event is already closed
      operationId: com.provoly.procedure.ProcedureController_closeAllProcedureEvents
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 50
          required: true
      responses:
        "204":
          description: Updated
        "401":
          description: Not Authorized
        "404":
          description: Event Not found
      security:
        - oidc:
            - authenticated
  /equipments:
    post:
      tags:
        - Equipment Controller
      summary: Save or update equipments
      operationId: com.provoly.equipment.EquipmentController_saveOrUpdateEquipments
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/EquipmentWriteDto'
            examples:
              default:
                summary: Create equipments with parents
                value: |
                  [
                    {
                      "id": "technical_unique_id",
                      "code":"C306",
                      "name":"C306",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "CHALONS_COMMUN",
                      "address":"1 rue Chalons",
                      "city": "CH",
                      "district": "CH_C",
                      "activeEnergy":30,
                      "EREQ_LEVEL": 2,
                      "parent": "C307"
                    },
                    {
                      "id": "technical_unique_id2",
                      "code":"C307",
                      "name":"C307",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "CHALONS_COMMUN",
                      "address":"132 avenue Chalons",
                      "city": "CH",
                      "district": "CH_CD",
                      "activeEnergy": 70,
                      "EREQ_LEVEL": 1,
                      "parent": null
                    },
                    {
                      "id": "technical_unique_id3",
                      "code":"C308",
                      "name":"C308",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "FAGNIERES_COMMUN",
                      "address":"97 impasse Fagniere",
                      "city": "FAGN",
                      "activeEnergy":null,
                      "EREQ_LEVEL": 2,
                      "parent": "C307"
                    }
                  ]
      responses:
        "204":
          description: No content
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidName:
                  description: Occurs when name already exists
                  value: |
                    {
                        "code": 400,
                        "message": "Event with name 'event report' already exists"
                    }
                invalidEquipment:
                  description: Occurs when equipment parent not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with code 'C397' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - authenticated
    get:
      tags:
        - Equipment Controller
      summary: Retrieve all equipments or only equipments with entity in param
      operationId: com.provoly.equipment.EquipmentController_getEquipments
      parameters:
        - name: entity
          in: query
          schema:
            type: array
            items:
             type: string
          description: must match one of `EquipmentEntity` name
          example: 'FAGNIERES_COMMUN'
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "200":
          description: Returns equipments details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": "c538a660-6450-4281-9fa9-c925f340eb54",
                        "externalId": "technical_unique_id",
                        "name": "C306",
                        "code": "C306",
                        "family": "Armoire",
                        "entity": "FAGNIERES_COMMUN",
                        "parent": {
                          "id": "c6cfac35-0939-4bb0-860e-fb00c6ff0ed7",
                          "externalId": "technical_unique_id2",
                          "name": "C307",
                          "code": "C307",
                          "family": "Armoire",
                          "domain": "EP",
                          "entity": "FAGNIERES_COMMUN",
                          "parent": null,
                          "activeEnergy": 70
                        },
                        "activeEnergy": 30
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /equipments/id/{id}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by id
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetails
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          example: 01ffde9d-30d2-4273-b61f-c6addd8747c8
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Equipment Not found
        "200":
          description: Returns equipment Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": "c538a660-6450-4281-9fa9-c925f340eb54",
                      "externalId": "technical_unique_id",
                      "name": "C306",
                      "code": "C306",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "FAGNIERES_COMMUN",
                      "parent": {
                        "id": "c6cfac35-0939-4bb0-860e-fb00c6ff0ed7",
                        "externalId": "technical_unique_id2",
                        "name": "C307",
                        "code": "C307",
                        "family": "Armoire",
                        "domain": "EP",
                        "entity": "FAGNIERES_COMMUN",
                        "parent": null,
                        "activeEnergy": 70
                      },
                      "activeEnergy": 30
                    }
      security:
        - oidc:
            - authenticated
  /equipments/name/{name}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by name
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetails
      parameters:
        - name: name
          in: path
          schema:
            type: string
          example: P-1000
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Equipment Not found
        "200":
          description: Returns equipment Details by name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": "0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                      "name": "P-1000",
                      "type": "Point Lumineux",
                      "entity": "FAGNIERES"
                    }
      security:
        - oidc:
            - authenticated
  /equipments/entities:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve all equipment entities
      operationId: com.provoly.equipment.EquipmentController_getEquipmentEntitiesName
      responses:
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [ "FAGNIERES_COMMUN", "CHALONS_AGGLOS" ]
      security:
        - oidc:
            - authenticated
  /services:
    post:
      tags:
        - Services Controller
      summary: Save or update services
      description: |
       `startDate` and `endDate` are required is `status` at least `ASKED` and
       `closeDate` is required if `status` is `DONE`
      operationId: com.provoly.equipment.ServiceController_saveOrUpdateServices
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceWriteDto'
            examples:
              default:
                summary: Create services
                value: |
                  [
                    {
                      "id": "DI00001935",
                      "equipment": "C-306",
                      "creationDate": "2024-05-27T08:10:37.675958Z",
                      "lastModificationDate": "2024-05-27T08:10:37.675958Z",
                      "startDate": "2024-06-27T08:10:37.675958Z",
                      "endDate": "2024-06-28T08:10:37.675958Z",
                      "domain": "EP",
                      "status": "ASKED",
                      "category": "PREV"
                    },
                    {
                      "id": "DI00001935@1234567890",
                      "equipment": "FL-222",
                      "creationDate": "2024-04-27T08:10:37.675958Z",
                      "lastModificationDate": "2024-04-28T08:10:37.675958Z",
                      "startDate": "2024-05-02T08:10:37.675958Z",
                      "endDate": "2024-05-04T08:10:37.675958Z",
                      "domain": "EP",
                      "status": "DONE",
                      "category": "CURA"
                    }
                  ]
      responses:
        "204":
          description: No content
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidEquipment:
                  description: Occurs when equipment not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with code 'C-306' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - authenticated
    get:
      tags:
        - Service Controller
      summary: Retrieve all services
      operationId: com.provoly.equipment.ServiceController_getServices
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "200":
          description: Returns services details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": "c538a660-6450-4281-9fa9-c925f340eb54",
                        "externalId": "technical_unique_id",
                        "name": "C306",
                        "code": "C306",
                        "family": "Armoire",
                        "entity": "FAGNIERES_COMMUN",
                        "parent": {
                          "id": "c6cfac35-0939-4bb0-860e-fb00c6ff0ed7",
                          "externalId": "technical_unique_id2",
                          "name": "C307",
                          "code": "C307",
                          "family": "Armoire",
                          "domain": "EP",
                          "entity": "FAGNIERES_COMMUN",
                          "parent": null,
                          "activeEnergy": 70
                        },
                        "activeEnergy": 30
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments with event metrics
      description: |
        Returns the number of cabinets, light fittings and unmanaged equipment connected to 
        at least one event that has not been closed, the number of services requested for this equipment, 
        and the number of services in progress.
      operationId: com.provoly.metrics.MetricsController_getEquipmentWithEvent
      parameters:
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: category
          in: query
          schema:
            items:
              anyOf:
                - $ref: '#/components/schemas/AlertCategory'
                - $ref: '#/components/schemas/OperatorCategory'
                - $ref: '#/components/schemas/ReportCategory'
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "400":
          description: Entity/Criticality/Category Not found, Or place is not a valide City/District
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentWithEventDto'
              examples:
                default:
                  value: |
                    {
                      "nbEquipWithEvent_A": 0,
                      "totalEquipWithEvent_A": 2,
                      "nbServiceTodoWithEquip_A": 0,
                      "nbServiceInProgressWithEquip_A": 0,
                      "nbEquipWithEvent_FL": 2,
                      "totalEquipWithEvent_FL": 1,
                      "nbServiceTodoWithEquip_FL": 0,
                      "nbServiceInProgressWithEquip_FL": 0,
                      "nbEquipWithEvent_unmanaged": 0,
                      "totalEquipWithEvent_unmanaged": 4,
                      "nbServiceTodoWithEquip_unmanaged": 0,
                      "nbServiceInProgressWithEquip_unmanaged": 0
                    }
      security:
        - oidc:
            - authenticated
  /metrics/equipments-by-entity:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments by entity for `EP` domain
      description: |
        Returns the number of equipments for `EP` domain in a given family grouped by entity. 
        The number of managed equipments is separated from the number of unmanaged equipments.
      operationId: com.provoly.metrics.MetricsController_getTotalEquipmentsByEntity
      parameters:
        - name: family
          in: path
          schema:
            type: string
          example: EP_FL
          required: true
      responses:
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentsByEntity'
              examples:
                default:
                  value: |
                    {
                      "CHA_managed": 0,
                      "CHA_unmanaged": 0,
                      "CH_managed": 0,
                      "CH_unmanaged": 0,
                      "FAGN_managed": 2,
                      "FAGN_unmanaged": 1,
                      "SMP_managed": 0,
                      "SMP_unmanaged": 0
                    }
      security:
        - oidc:
            - authenticated
  /services/closed/{interval}:
    get:
      tags:
        - Metrics Controller
      summary: |
        Returns an aggregation of services
      description: |
        Aggregates the number of `DONE` services over a given interval and over a number of buckets from a given date.
      operationId: com.provoly.metrics.MetricsController_getTotalEquipmentsByEntity
      parameters:
        - name: interval
          description: must be one of `hour`,`day`,`week`,`month`,`quarter`,`year`
          in: path
          schema:
            type: string
          example: month
          required: true
        - name: date
          description: The timezoned reference date for building the aggregation over the last n intervals
          in: query
          schema:
            type: integer
          example: 2024-05-28T08:10:00Z
        - name: buckets
          description: Number of buckets. Default to `24`. Must be a positive number.
          in: query
          schema:
            type: integer
          example: 12
        - name: entity
          in : query
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          schema:
            type: array
            items:
              type: string
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "401":
          description: Not Authorized
        "400":
          description: Invalid interval, entity, family code, or city/district
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedService'
              examples:
                default:
                  value: |
                    [
                      {
                        "start": "2023-05-01T00:00:00Z",
                        "count": 3
                      },
                      {
                        "start": "2024-01-01T00:00:00Z",
                        "count": 2
                      },
                      {
                        "start": "2024-03-01T00:00:00Z",
                        "count": 4
                      },
                      {
                        "start": "2024-05-01T00:00:00Z",
                        "count": 1
                      }
                    ]
      security:
        - oidc:
            - authenticated
components:
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Authentication
      openIdConnectUrl: https://auth/realms/provoly/.well-known/openid-configuration
  schemas:
    UUID:
      format: uuid
      pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
      type: string
      example: "ebbfbbd1-b8de-467c-8a9b-88443a49f807"
      required: true
    DateTime:
      format: date-time
      type: string
      example: "2024-02-20T08:33:14.312632Z"
    Criticality:
      type: string
      required: true
      enum:
        - LOW
        - MEDIUM
        - HIGH
    Status:
      type: string
      required: true
      enum:
        - NEW
        - IN_PROGRESS
        - DONE
    Type:
      type: string
      required: true
      enum:
        - ALERT
        - OPERATOR
        - REPORT
    OperatorCategory:
      type: string
      required: true
      enum:
        - MANIFESTATION,
        - OPERATOR
    AlertCategory:
      type: string
      required: true
      enum:
        - LIMIT,
        - MALFUNCTION
    ReportCategory:
      enum:
        - REPORT
    EventSort:
      type: string
      enum:
        - creationDate
        - lastModificationDate
        - status
        - procedureProgress
    ProcedureModelSort:
      type : string
      enum:
        - id
        - useCount
        - name
        - creator
        - creationDate
        - lastModificationDate
        - domain
    SortOrder:
      type: string
      enum:
        - ASC
        - DESC
      default: ASC
    Family:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        code:
          type: string
    EquipmentEntity:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
    ServiceWriteDto:
      type: object
      properties:
        id:
          type: string
          required: true
        description:
          type: string
        equipment:
          type: string
          required: true
        creationDate:
          type: date
          required: true
        lastModificationDate:
          type: date
          required: true
        startDate:
          type: date
        endDate:
          type: date
        closeDate:
          type: date
        domain:
          type: string
          required: true
        status:
          type: string
          required: true
        category:
          type: string
          required: true
    ServiceReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        technical_id:
          type: string
        description:
          type: string
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        creationDate:
          type: date
        lastModificationDate:
          type: date
        startDate:
          type: date
        endDate:
          type: date
        domain:
          type: string
        status:
          type: string
        category:
          type: string
    EquipmentWriteDto:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
          required: true
        code:
          type: string
          required: true
        name:
          type: string
          required: true
        family:
          type: string
          required: true
          description: Value must match one of `Family` name
        domain:
          type: string
          required: true
          description: Value must match one of `Domain` name
        entity:
          type: string
          required: true
          description: Value must match one of `Equipment Entity` name
        city:
          type: string
          required: true
          description: Value must match one of `City` name
        district:
          type: string
          description: Value must match one of `District` name
        adress:
          type: string
          required: true
        level:
          type: integer
          required: true
          description: Corresponds to the level to determine whether it will have a parent or not. If the value is 1, then it can be referenced in children equipments and will not itself have a parent equipment.
        parent:
          type: string
          description: The value must be the parent `code` property
    EquipmentReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        externalId:
          type: string
        code:
          type: string
        name:
          type: string
        family:
          type: string
          description: Value match one of `Family` name
        domain:
          type: string
          description: Value match one of `Domain` name
        entity:
          type: string
          description: Value match one of `Equipment Entity` name
        city:
          type: string
          description: Value must match one of `City` name
        district:
          type: string
          description: Value must match one of `District` name
        adress:
          type: string
        parent:
          $ref: '#/components/schemas/EquipmentReadDto'
        events:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/AlertEventReadDto'
              - $ref: '#/components/schemas/ReportEventReadDto'
              - $ref: '#/components/schemas/OperatorEventReadDto'
    EquipmentShortDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        code:
          type: string
        family:
          type: string
          description: Value match one of `Family` name
        entity:
          type: string
          description: Value match one of `Equipment Entity` name
    ActionWriteDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          required: true
        name:
          type: string
          required: true
        type:
          type: string
          required: true
        status:
          $ref: '#/components/schemas/Status'
          required: true
    ActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        type:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
    OperatorEventWriteDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          required: true
        address:
          type: string
          required: true
        description:
          type: string
          required: true
        criticality:
          $ref: '#/components/schemas/Criticality'
        category:
          $ref: '#/components/schemas/OperatorCategory'
        equipmentId:
          $ref: '#/components/schemas/UUID'
        endDate:
          $ref: '#/components/schemas/DateTime'
        startDate:
          $ref: '#/components/schemas/DateTime'
        type:
          type: string
          enum:
            - OPERATOR
          required: true
    AlertEventWriteDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          required: true
        address:
          type: string
          required: true
        description:
          type: string
          required: true
        criticality:
          $ref: '#/components/schemas/Criticality'
        category:
          $ref: '#/components/schemas/AlertCategory'
        equipmentId:
          $ref: '#/components/schemas/UUID'
        externalSourceRef:
          type: string
          required: true
        type:
          type: string
          enum:
            - ALERT
          required: true
    ReportEventWriteDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          required: true
        address:
          type: string
          required: true
        description:
          type: string
          required: true
        criticality:
          $ref: '#/components/schemas/Criticality'
        category:
          $ref: '#/components/schemas/ReportCategory'
        equipmentId:
          $ref: '#/components/schemas/UUID'
        externalSourceRef:
          type: string
          required: true
        type:
          type: string
          enum:
            - REPORT
          required: true
    AlertEventReadDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/Type'
        criticality:
          $ref: '#/components/schemas/Criticality'
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        status:
          $ref: '#/components/schemas/Status'
        category:
          $ref: '#/components/schemas/AlertCategory'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        closeDate:
          $ref: '#/components/schemas/DateTime'
        externalSourceRef:
          type: string
        procedureId:
          $ref: '#/components/schemas/UUID'
        linkedEvents:
          type: number
          description: Number of events that have the same procedure as the current event
        procedureProgress:
          type: number
          description: Percentage progress of the procedure
    ReportEventReadDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/Type'
        criticality:
          $ref: '#/components/schemas/Criticality'
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        status:
          $ref: '#/components/schemas/Status'
        category:
          $ref: '#/components/schemas/ReportCategory'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        closeDate:
          $ref: '#/components/schemas/DateTime'
        externalSourceRef:
          type: string
        procedureId:
          $ref: '#/components/schemas/UUID'
        linkedEvents:
          type: number
          description: Number of events that have the same procedure as the current event
        procedureProgress:
          type: number
          description: Percentage progress of the procedure
    OperatorEventReadDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/Type'
        criticality:
          $ref: '#/components/schemas/Criticality'
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        status:
          $ref: '#/components/schemas/Status'
        category:
          $ref: '#/components/schemas/OperatorCategory'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        closeDate:
          $ref: '#/components/schemas/DateTime'
        endDate:
          $ref: '#/components/schemas/DateTime'
        startDate:
          $ref: '#/components/schemas/DateTime'
        externalSourceRef:
          type: string
        procedureId:
          $ref: '#/components/schemas/UUID'
        linkedEvents:
          type: number
          description: Number of events that have the same procedure as the current event
        procedureProgress:
          type: number
          description: Percentage progress of the procedure
    ProcedureReadDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        progress:
          type: number
        events:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/OperatorEventReadDto'
              - $ref: '#/components/schemas/AlertEventReadDto'
              - $ref: '#/components/schemas/ReportEventReadDto'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ActionReadDto'
    ProcedureWriteDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        events:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/OperatorEventWriteDto'
              - $ref: '#/components/schemas/AlertEventWriteDto'
              - $ref: '#/components/schemas/ReportEventWriteDto'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ActionReadDto'
    ProcedureModelWriteDto:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          required: true
        description:
          type: string
          required: true
        domain:
          type: string
          required: true
        creator:
          type: string
          required: true
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ActionWriteDto'
    ProcedureModelReadDto:
      type: object
      properties:
        id:
          type: integer
        useCount:
          type: integer
        name:
          type: string
        description:
          type: string
        domain:
          type: string
        creator:
          type: string
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ActionReadDto'
    EventSummaryDto:
      type: object
      properties:
        id:
          type: integer
        proocedureId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        type:
          $ref: '#/components/schemas/Type'
        criticality:
          $ref: '#/components/schemas/Criticality'
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        category:
          oneOf:
            - $ref: '#/components/schemas/AlertCategory'
            - $ref: '#/components/schemas/OperatorCategory'
            - $ref: '#/components/schemas/ReportCategory'
        interventionRequestTitle:
          type: string
          description: The last in progress or new intervention request title
        interventionRequestCount:
          type: integer
          description: The total number of intervention requests linked to the procedure event
        manifestation:
          type: object
          properties:
            startDate:
              $ref: '#/components/schemas/DateTime'
            endDate:
              $ref: '#/components/schemas/DateTime'
    EventsSummariesByStatusDto:
      type: object
      properties:
        counts:
          type: integer
          description: total count of events for status
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventSummaryDto'

    EquipmentWithEventDto:
      type: object
      properties:
        nbEquipWithEvent_A:
          type: integer
          description: Count of equipments "Armoire" with at least one event not finished and that is not a "MANIFESTATION"
        totalEquipWithEvent_A:
          type: integer
          description: Total count of equipments "Armoire"
        nbServiceTodoWithEquip_A:
          type: integer
          description: Count of requested services linked to an "Armoire" equipment
        nbServiceInProgressWithEquip_A:
          type: integer
          description: Count of in progress services linked to an "Armoire" equipment
        nbEquipWithEvent_FL:
          type: integer
          description: Count of equipments "Foyer Lumineux" with at least one event not finished and that is not a "MANIFESTATION"
        totalEquipWithEvent_FL:
          type: integer
          description: Total count of equipments "Foyer Lumineux"
        nbServiceTodoWithEquip_FL:
          type: integer
          description: Count of requested services linked to an "Foyer Lumineux" equipment
        nbServiceInProgressWithEquip_FL:
          type: integer
          description: Count of in progress services linked to an "Foyer Lumineux" equipment
        nbEquipWithEvent_unmanaged:
          type: integer
          description: Count of unmanaged equipments with at least one event not finished and that is not a "MANIFESTATION"
        totalEquipWithEvent_unmanaged:
          type: integer
          description: Total count of unmanaged equipments
        nbServiceTodoWithEquip_unmanaged:
          type: integer
          description: Count of requested services linked to an unmanaged equipment
        nbServiceInProgressWithEquip_unmanaged:
          type: integer
          description: Count of in progress services linked to an unmanaged equipment
    EquipmentsByEntity:
      type: object
      properties:
        CHA_managed:
          type: integer
          description: Count of managed equipments where entity is `AGGLO_EP` or `AGGLO_COMMUN`
        CHA_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `AGGLO_EP` or `AGGLO_COMMUN`
        CH_managed:
          type: integer
          description: Count of managed equipments where entity is `CHALONS_EP` or `CHALONS_COMMUN`
        CH_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `CHALONS_EP` or `CHALONS_COMMUN`
        FAGN_managed:
          type: integer
          description: Count of managed equipments where entity is `FAGNIERES_COMMUN`
        FAGN_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `FAGNIERES_COMMUN`
        SMP_managed:
          type: integer
          description: Count of managed equipments where entity is `SAINT_MARTIN_COMMUN`
        SMP_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `SAINT_MARTIN_COMMUN`
    AggregatedService:
      type: array
      items:
        type: object
        properties:
          start:
            $ref: '#/components/schemas/DateTime'
          count:
            type: integer