openapi: 3.0.3
info:
  title: Provoly Hypervisor API
  description: CRUD Operation on repositories data
  version: 1.0.0
servers:
  - url: http://provoly-hypervisor.com
paths:
  /events:
    get:
      tags:
        - Event Controller
      summary: Retrieve all events with pagination
      description: |
        Default sort on `status` (NEW,IN_PROGRESS,DONE), `criticality` (HIGH,MEDIUM,LOW) and `lastModificationDate` (reversed). It's possible to override it by sorting on other attributes.
        If order is no provided when sort, the default is asc.
        It's possible to filter on one or more criticalities, statuses, categories, sources, equipment entities or equipment families.
        It's possible to search on event id, event name or equipment name.
      operationId: com.provoly.event.EventController_getEvents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          description: Page number requested, default to 1. Trigger an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, default to 20. Return an empty list if not specified.
        - name: creationDate
          in: query
          description: The date must be set to midnight. The filter will return all events created on that day.
          schema:
            type: string
            example: 2024-01-20T00:00:00Z
        - name: closeDate
          in: query
          description: Filter on closed events where closeDate is greater or equal than `closeDate` in query
          schema:
            type: string
            example: 2024-01-20T10:09:00Z
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Status'
        - name: category
          in: query
          schema:
            type: array
            items:
              type: string
            example: [ 'LIMIT' ]
          description: Event category code. It must be known to the system
        - name: entity
          in: query
          description: The equipment entity name. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'CHALONS-COMMUN' ]
        - name: family
          in: query
          description: The equipment family code. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'EP_ARMOIRE','VP_CAM' ]
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/EventSort'
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/SortOrder'
        - name: name
          in: query
          schema:
            type: string
          description: search on event name
          example: '00001'
        - name: id
          in: query
          schema:
            type: string
          description: search on event id
          example: '00001'
        - name: equipment
          in: query
          schema:
            type: string
          description: search on equipment name of event
          example: 'c-A'
      responses:
        "200":
          description: Return 2 events with `status` is `DONE` or `NEW` and `criticality` is `LOW` or `HIGH`
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JournalEventDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
    post:
      tags:
        - Event Controller
      summary: Save an event
      description: |
        Events may come from the Hypervisor (internal event), or from an external source (external event). 
        Internal events must have a `creator`, and it's source is automatically 'Hyperviseur'.
        External events must have an `externalSourceRef`.
        by default, InternalEventWriteDto is deserialized. If creator and externalSourceRef are presents, then the source is ignored, 
        and if none of these properties are present, then an error is raised, saying that the creator is missing.
        It's possible to set an `externalId` for external events, in order to update event if already exists instead of save it (used for nodered flows). 
        `MANIFESTATION` category, `startDate` and `endDate` properties are necessary. `endDate` can't be before `startDate`.
         `ANOMALY` category requires sub categories.
      operationId: com.provoly.event.EventController_saveEvent
      requestBody:
        content:
          application/json:
            schema:
              OneOf:
                - $ref: '#/components/schemas/ExternalEventWriteDto'
                - $ref: '#/components/schemas/InternalEventWriteDto'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReadDto'
        "400":
          description: Equipment not exists
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - Missing a required property
      security:
        - oidc:
            - event_write
  /events/id/{id}:
    get:
      tags:
        - Event Controller
      summary: Retrieve event by id
      operationId: com.provoly.event.EventController_getEventDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 21
          required: true
      responses:
        "200":
          description: Return event Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_read
    put:
      tags:
        - Event Controller
      summary: Update an event
      description: |
        It's possible to update any events, but events with an external source have non-modifiable properties:
        `category`, `subCategory`, `name` and `externalId`.
      operationId: com.provoly.event.EventController_updateEvent
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 1
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventWriteDto'
      responses:
        "204":
          description: Updated
        "400":
          description: Equipment not exsts
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - Missing a required property
            - External source can't be updated
        "404":
          description: Event not Found
      security:
        - oidc:
            - event_write
  /events/{source}/id/{id}:
    get:
      tags:
        - Event Controller
      summary: Retrieve event by it's source and external id
      operationId: com.provoly.event.EventController_getEventDetailsBySourceAndExternalId
      parameters:
        - name: source
          in: path
          schema:
            type: string
          example: Citylinx
          required: true
        - name: id
          in: path
          schema:
            type: string
          example: 21ad9
          required: true
      responses:
        "200":
          description: Returns Event Details by it's source and external id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_read
    put:
      tags:
        - Event Controller
      summary: Update an Event
      description: |
        It's possible to update any events, but events with an external source have non-modifiable properties:
        `category`, `subCategory`, `name` and `externalId`.
      operationId: com.provoly.event.EventController_updateEvent
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 1
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventWriteDto'
      responses:
        "204":
          description: Updated
        "400":
          description: Equipment not exists
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - Missing a required property
        "404":
          description: Event not Found
      security:
        - oidc:
            - event_write
  /events/id/{id}/close:
    put:
      tags:
        - Event Controller
      summary: Close event by id
      description: |
        Set status to DONE and update `closeDate` property. 
        Close date is not updated if event is already closed.
      operationId: com.provoly.event.EventController_closeEvent
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 22
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
      responses:
        "204":
          description: Updated
        "401":
          description: Not Authorized
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_write
  /events/id/{id}/comments:
    put:
      tags:
        - Event Controller
      summary: Save or update comment for an event
      description: Comment can be edited by its creator only. It's not possible to add or update a comment on a DONE event.
      operationId: com.provoly.event.EventController_saveOrUpdateCommentForEvent
      parameters:
        - name: id
          in: path
          description: event id
          schema:
            type: integer
          example: 22
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
      responses:
        "204":
          description: Created or Updated
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - Event is DONE or creator is not allowed
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_write
    get:
      tags:
        - Event Controller
      summary: Get all comments for an event
      operationId: com.provoly.event.EventController_getCommentsForEvent
      parameters:
        - name: id
          in: path
          description: event id
          schema:
            type: integer
          example: 22
          required: true
      responses:
        "200":
          description: Return 2 comments for event
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_read
  /events/summary:
    get:
      tags:
        - Event Controller
      summary: Retrieve summary events grouped by status
      description: |
        Returns the last n summary events, sorted by last modification date and status. 
        It is possible to sort these summary events by criticality
      operationId: com.provoly.event.EventController_getEventSummaries
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Limit of summary events by status. Default to 5.
        - name: criticality
          in: query
          schema:
            $ref: '#/components/schemas/Criticality'
          example: "HIGH"
          description: Filter on the criticality required
          required: false
      responses:
        "200":
          description: Return first summary event by status with a `MEDIUM` criticality
          content:
            application/json:
              schema:
                properties:
                  NEW:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
                  IN_PROGRESS:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
                  DONE:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
        "400":
          description: Criticality invalid
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - Limit invalid
      security:
        - oidc:
            - authenticated
  /events/export:
    get:
      tags:
        - Event Controller
      summary: Export all events
      description: |
        Export events in a .xslx file.
        It's possible to export all events, even archived events if option is set to true. Default to false.
      operationId: com.provoly.event.EventController_getEventSummaries
      parameters:
        - name: archived
          in: query
          schema:
            type: boolean
          required: false
      responses:
        "200":
          description: Events are exported.
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /procedures/model:
    get:
      tags:
        - Procedure Model Controller
      summary: Retrieve all procedures model with pagination
      description: |
        Default sort on `useCount` (reversed) and  `name`. It's possible to override it by sorting on other attributes.
        If order is no provided when sort, the default is asc.
        It's possible to filter on one or more domains, or search by name, creator or id by using `search` filter
      operationId: com.provoly.event.ProcedureModelController_getProceduresModel
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          description: Page number requested, default to 1. Trigger an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, default to 20. Return an empty list if not specified.
        - name: search
          in: query
          description: Returns all procedures whose value is contained in the `name`, `creator` or `id` property
          schema:
            type: string
            example: proc
        - name: domain
          in: query
          description: The domain code. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'EP' ]
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ProcedureModelSort'
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/SortOrder'
      responses:
        "200":
          description: Return 2 procedures models with `domain` is `EP` and `name`, `creator` or `id``contains "laura"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcedureModelReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - proc_model_read
    post:
      tags:
        - Procedure Model Controller
      summary: Save a procedure model
      description: |
        Save a procedure model and it's actions. Default actions types are `EMAIL`, `PHONE`, `SMS`, `ASKED_SERVICE` and `OTHER`.
        It's possible to insert custom action types that will not have specific properties.
      operationId: com.provoly.event.ProcedureModelController_saveProcedureModel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureModelWriteDto'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureModelWriteDto'
        "400":
          description: Name already exists or equipment id not exists
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - Missing a required property
      security:
        - oidc:
            - proc_model_write
  /procedures/model/id/{id}:
    get:
      tags:
        - Procedure Model Controller
      summary: Retrieve procedure model by id
      operationId: com.provoly.procedure.ProcedureModelController_getProcedureDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 29
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Procedure Model Not found
        "200":
          description: Returns procedure model Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureModelReadDto'
      security:
        - oidc:
            - proc_model_read
    put:
      tags:
        - Procedure Model Controller
      summary: Update procedure model
      description: It's possible to update every properties, even actions order. But `creator` must be the same.
      operationId: com.provoly.procedure.ProcedureModelController_updateProcedureModel
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureModelWriteDto'
      responses:
        "204":
          description: Updated
        "400":
          description: |
            - Invalid domain/action type 
            - Name already exists 
            - Action id already exists 
            - `creator` must be unchanged
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - proc_model_write
  /procedures/model/id/{id}/associate:
    put:
      tags:
        - Procedure Model Controller
      summary: Associate procedure model to one or more events
      description: |
        The procedure model association will generate a new Procedure instance. 
        This procedure is linked to events whose ids are in request body.
        These events will automatically be set to `IN_PROGRESS` status.
      operationId: com.provoly.procedure.ProcedureModelController_associateProcedureModeltoEvents
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                description: events id
            examples:
              default:
                summary: Associate Procedure model to events 1,2 and 3.
                value: [1,2,3]
      responses:
        "201":
          description: Procedure instance created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureReadDto'
        "400":
          description: At least one event id not exists
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - At least one event is already associated to a procedure, or closed.
        "404":
          description: Procedure model not found
      security:
        - oidc:
            - event_write
  /procedures/id/{id}:
    get:
      tags:
        - Procedure Controller
      summary: Retrieve procedure by id
      description: Return procedure detail and its linked events.
      operationId: com.provoly.procedure.ProcedureController_getProcedureDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 45
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Procedure Not found
        "200":
          description: Returns procedure Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureReadDto'
      security:
        - oidc:
            - event_read
    put:
      tags:
        - Procedure Controller
      summary: Update events and actions procedure
      operationId: com.provoly.procedure.ProcedureController_updateProcedure
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureWriteDto'
      responses:
        "204":
          description: Updated
        "400":
          description: Bad Request
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - event_proc_write
            - event_write
    delete:
      tags:
        - Procedure Controller
      summary: Delete procedure by id
      description: |
        Events can again be associated with a procedure model. Status events are reset to `NEW`.
      operationId: com.provoly.procedure.ProcedureController_deleteProcedure
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 45
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Procedure Not found
        "204":
          description: Procedure deleted
      security:
        - oidc:
            - event_write
  /procedures/id/{id}/close:
    put:
      tags:
        - Procedure Controller
      summary: Close all procedure events by id
      description: Set status to DONE. Close date is not updated if event is already closed
      operationId: com.provoly.procedure.ProcedureController_closeAllProcedureEvents
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 50
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
      responses:
        "204":
          description: Updated
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_write
  /procedures/id/{id}/associate/event/id/{eventId}:
    put:
      tags:
        - Procedure Controller
      summary: Add new event to procedure
      description: |
        Add new event to an already instantiated procedure. 
        Event must have `NEW` status, and procedure can't be done;
      operationId: com.provoly.procedure.ProcedureController_addEventToProcedure
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 50
          required: true
        - name: eventId
          in: path
          schema:
            type: integer
          example: 50
          required: true
      responses:
        "204":
          description: Updated
        "400":
          description: Event is done or procedure is done
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Event Not found or Procedure not Found
      security:
        - oidc:
            - event_write
  /actions/id/{id}/comments:
    put:
      tags:
        - Action Controller
      summary: Save or update comment for an action
      description: Comment can be edited by its creator only. It's not possible to add or update a comment on a DONE procedure.
      operationId: com.provoly.event.ActionController_saveOrUpdateCommentForAction
      parameters:
        - name: id
          in: path
          description: action id
          schema:
            type: string
          example: 30956c82-073f-4b51-8f79-b447ebe54c76
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
      responses:
        "204":
          description: Created or Updated
        "401":
          description: Not Authorized
        "403":
          description: | 
            - Forbidden
            - Procedure of this action is DONE or creator is not allowed
        "404":
          description: Action Not found
      security:
        - oidc:
            - event_proc_comment_write
    get:
      tags:
        - Action Controller
      summary: Get all comments for an action
      operationId: com.provoly.event.ActionController_getCommentsForAction
      parameters:
        - name: id
          in: path
          description: action id
          schema:
            type: string
          example: 30956c82-073f-4b51-8f79-b447ebe54c76
          required: true
      responses:
        "200":
          description: Return 2 comments for action
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Action Not found
      security:
        - oidc:
            - event_read
  /equipments:
    post:
      tags:
        - Equipment Controller
      summary: Save or update equipments
      description: If one of external id entry exists, update equipment, else create it
      operationId: com.provoly.equipment.EquipmentController_saveOrUpdateEquipments
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/EquipmentWriteDto'
      responses:
        "204":
          description: No content
        "400":
          description: Name already exists or equipment not exists
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden 
            - Missing a required property
      security:
        - oidc:
            - authenticated
    get:
      tags:
        - Equipment Controller
      summary: Retrieve all equipments with pagination
      description: |
        Returns all equipments without `deleted` property.
        It's possible to filter on entity, or search by equipment name or family name.
      operationId: com.provoly.equipment.EquipmentController_getEquipments
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          description: Page number requested, default to 1. Trigger an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, default to 20. Return an empty list if not specified.
        - name: entity
          in: query
          schema:
            type: array
            items:
             type: string
          description: must match one of `EquipmentEntity` name
          example: 'FAGNIERES-COMMUN'
        - name: search
          in: query
          schema:
            type: string
          description: search on equipment code and family name
          example: 'armo'
      responses:
        "200":
          description: Returns equipments details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /equipments/id/{id}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by id
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetails
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          example: 01ffde9d-30d2-4273-b61f-c6addd8747c8
          required: true
      responses:
        "200":
          description: Returns equipment Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Equipment Not found
      security:
        - oidc:
            - authenticated
  /equipments/name/{name}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by name
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetails
      parameters:
        - name: name
          in: path
          schema:
            type: string
          example: P-1000
          required: true
      responses:
        "200":
          description: Returns equipment Details by name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
        "404":
          description: Equipment Not found
      security:
        - oidc:
            - authenticated
  /equipments/{source}/id/{id}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by source and externalId
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetailsByExternalId
      parameters:
        - name: source
          in: path
          schema:
            type: string
          example: GMAO
          required: true
        - name: id
          in: path
          schema:
            type: string
          example: technical_unique_id
          required: true
      responses:
        "200":
          description: Returns equipment Details by name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Equipment Not found
      security:
        - oidc:
            - authenticated
  /equipments/entities:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve all equipment entities
      operationId: com.provoly.equipment.EquipmentController_getEquipmentEntitiesName
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [ "FAGNIERES-COMMUN", "CHALONS_AGGLOS" ]
        "401":
          description: Not Authorized
      security:
        - oidc:
            - authenticated
  /services:
    post:
      tags:
        - Service Controller
      summary: Save or update services
      description: |
       `startDate` and `endDate` are required is `status` at least `ASKED` and
       `closeDate` is required if `status` is `DONE`
      operationId: com.provoly.equipment.ServiceController_saveOrUpdateServices
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceWriteDto'
      responses:
        "204":
          description: No content
        "400":
          description: Equipment not exists
        "401":
          description: Not Authorized
        "403":
          description: | 
            - Forbidden
            - Missing a required property
      security:
        - oidc:
            - authenticated
    get:
      tags:
        - Service Controller
      summary: Retrieve all services
      operationId: com.provoly.equipment.ServiceController_getServices
      responses:
        "200":
          description: Returns services details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /services/external/id/{actionId}:
    post:
      tags:
        - Service Controller
      summary: Create external service for an Asked Service Action
      description: |
        Generate External service and send it to external service application : Coswin. 
        It returns a service code which will be set in `serviceExternalId` property in action.
      operationId: com.provoly.equipment.ServiceController_createExternalService
      parameters:
        - name: actionId
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          example: 01ffde9d-30d2-4273-b61f-c6addd8747c8
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExternalServiceWriteDto'
      responses:
        "204":
          description: No content
        "400":
          description: |
            - Action is not of type `ASKED_SERVICE`
            - Properties have invalid values
            - Equipment not exists
            - External application triggers an error
        "401":
          description: Not Authorized
        "403":
          description: |
            - Forbidden
            - Missing a required property
        "404":
          description: Action not found
      security:
        - oidc:
            - authenticated
  /servicesType:
    get:
      tags:
        - ServiceType Controller
      summary: Retrieve all service type. It's possible to filter on domain
      operationId: com.provoly.equipment.ServiceTypeController_getServiceTypes
      parameters:
        - name: domain
          in: query
          schema:
            type: string
          example: EP
      responses:
        "200":
          description: Returns service types details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTypeReadDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/EP:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from EP domain with event metrics
      description: |
        Returns the number of _Armoires_, _Foyers lumineux_ and unmanaged equipments linked with 
        at least one event that has not been closed, the number of services `ASKED` for this equipment, 
        and the number of services `IN_PROGRESS`.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getEpEquipmentWithEvent
      parameters:
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: category
          in: query
          schema:
            items:
              type: string
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          content:
            description: Returns Equipments with events
            application/json:
              schema:
                $ref: '#/components/schemas/EpEquipmentWithEventDto'
        "400":
          description: |
            - Entity/Criticality/Category not found
            - Place is not a valid City/District
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/EP/detailed:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from EP domain with event metrics
      description: |
        Similar to the endpoint `/metrics/equipments-with-events/EP` but the number of events is grouped by category and includes the "MANIFESTATION" category.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getEpEquipmentWithEventDetailed
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpEquipmentWithEventDetailedDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/VP:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from VP domain with event metrics
      description: |
        Returns the number of Cameras linked with at least one event that has not been closed, 
        the number of services `ASKED` for this equipment,
        and the number of services `IN_PROGRESS`.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getVpEquipmentWithEvent
      parameters:
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: category
          in: query
          schema:
            items:
              type: string
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          content:
            description: Returns VP Equipments with events
            application/json:
              schema:
                $ref: '#/components/schemas/VpEquipmentWithEventDto'
        "400":
          description: |
            - Entity/Criticality/Category not found
            - Place is not a valid City/District
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/VP/detailed:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from VP domain with event metrics
      description: |
        Similar to the endpoint `/metrics/equipments-with-events/VP` but the number of events is grouped by category and includes the "MANIFESTATION" category.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getVpEquipmentWithEventDetailed
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpEquipmentWithEventDetailedDto'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /metrics/equipments-by-entity:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments by entity for `EP` domain
      description: |
        Returns the number of equipments for `EP` domain in a given family grouped by entity. 
        The number of managed equipments is separated from the number of unmanaged equipments.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getTotalEquipmentsByEntity
      parameters:
        - name: family
          in: path
          schema:
            type: string
          example: EP_FL
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentsByEntity'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /metrics/events-by-equipments:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve first n events by equipments
      description: |
        It's possible to filter on category, domain, and count events that was created after a specific date. Limit is set to 10 by default but can be changed.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getEventsByEquipments
      parameters:
        - name: domain
          in: query
          schema:
            type: string
          example: VP
        - name: category
          in: query
          schema:
            type: string
          example: ANOMALY
        - name: date
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
          example: 2024-05-28T08:10:00Z
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          example: 10
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          description: Must match family from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsByEquipment'
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /services/closed/{interval}:
    get:
      tags:
        - Metrics Controller
      summary: |
        Returns an aggregation of services
      description: |
        Aggregates the number of `DONE` services over a given interval and over a number of buckets from a given date.
      operationId: com.provoly.metrics.MetricsController_getTotalEquipmentsByEntity
      parameters:
        - name: interval
          description: must be one of `hour`,`day`,`week`,`month`,`quarter`,`year`
          in: path
          schema:
            type: string
          example: month
          required: true
        - name: date
          description: The timezoned reference date for building the aggregation over the last n intervals
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
          example: 2024-05-28T08:10:00Z
        - name: buckets
          description: Number of buckets. Default to `24`. Must be a positive number.
          in: query
          schema:
            type: integer
          example: 12
        - name: domain
          in: query
          schema:
            type: string
        - name: entity
          in : query
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          schema:
            type: array
            items:
              type: string
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedService'
        "400":
          description: Invalid interval, entity, family code, or city/district
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /events/anomaly:
    get:
      tags:
        - Metrics Controller
      summary: |
        Count opened events grouped by anomaly's subcategories
      description: |
        It's possible to filter on event creation date, event status. If creation date is set, then ignore Done events.
        If a domain filter is set, count all events linked to a equipment with this domain.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getAnomalyEventsGroupedBySubCategories
      parameters:
        - name: date
          description: event creation date
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
          example: 2024-01-20T00:00:00Z
        - name: domain
          description: domain from equipment linked to event
          in: query
          schema:
            type: string
        - name: status
          in: query
          description: event status
          schema:
            $ref: '#/components/schemas/Status'
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          description: Must match family from equipment
          schema:
            type: array
            items:
              type: string
        - name: equipment
          in : query
          description: Must match equipment name to get anomalies count for this equipment
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyCount'
        "400":
          description: Invalid domain, date, status, or other filters
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /events/anomalies-by-entity:
    get:
      tags:
        - Metrics Controller
      summary: |
        Count events linked by equipment and grouped by anomaly's subcategories and equipment entities
      description: |
        It's possible to filter on equipment domain and set start date to filter on events created from this date.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getAnomalyEventsGroupedBySubCategoriesAndEntities
      parameters:
        - name: startDate
          description: filter on events created from this date
          in: query
          schema:
            type: string
            example: 2024-01-20T00:00:00Z
        - name: domain
          description: domain from equipment linked to event
          in: query
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyQueryResult'
        "400":
          description: Invalid domain, date or other filter
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /aggregate/anomalies/{interval}:
    get:
      tags:
        - Metrics Controller
      summary: |
        Returns an aggregation of anomaly events
      description: |
        Aggregates the number of `ANOMALY` events over a given interval and over a number of buckets from a given start date.
        Results are grouped by subcategories
      operationId: com.provoly.metrics.MetricsController_aggregateAnomaliesEvents
      parameters:
        - name: interval
          description: must be one of `hour`,`day`,`week`,`month`,`quarter`,`year`
          in: path
          schema:
            type: string
          example: month
          required: true
        - name: startDate
          description: The timezoned reference date for building the aggregation over the last n intervals
          in: query
          schema:
            type: integer
          example: 2024-05-28T08:10:00Z
        - name: buckets
          description: Number of buckets. Default to `12`. Must be a positive number.
          in: query
          schema:
            type: integer
          example: 12
        - name: domain
          in: query
          schema:
            type: string
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          description: Must match family from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedService'
        "400":
          description: Invalid interval, domain, bucket or startDate
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
components:
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Authentication
      openIdConnectUrl: https://auth/realms/provoly/.well-known/openid-configuration
  schemas:
    # Utils
    UUID:
      format: uuid
      pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
      type: string
      example: "ebbfbbd1-b8de-467c-8a9b-88443a49f807"
    DateTime:
      format: date-time
      type: string
      example: "2024-02-20T08:30:00.00Z"
    # Enum
    ActionType:
      type: string
      example: EMAIL
      enum:
        - SMS
        - PHONE
        - EMAIL
        - ASKED_SERVICE
        - ORDER
    Criticality:
      type: string
      example: LOW
      enum:
        - LOW
        - MEDIUM
        - HIGH
    EventSort:
      type: string
      enum:
        - creationDate
        - lastModificationDate
        - status
        - procedureProgress
        - criticality
        - name
        - category
        - id
        - source
    Priority:
      type: string
      enum:
        - 1-MINEUR
        - 2-MAJEUR
        - 3-BLOQUANT
    Status:
      type: string
      example: NEW
      enum:
        - NEW
        - IN_PROGRESS
        - DONE
    ServiceStatus:
      type: string
      example: ASKED
      enum:
        - ASKED
        - IN_PROGRESS
        - DONE
        - CANCELLED
    ProcedureModelSort:
      type : string
      enum:
        - id
        - useCount
        - name
        - creator
        - creationDate
        - lastModificationDate
        - domain
    SortOrder:
      type: string
      enum:
        - ASC
        - DESC
      default: ASC

    # Enum Entity
    CustomActionType:
      required:
        - id
        - name
      type: object
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: "Levée de doute"
    EquipmentEntity:
      required:
        - id
        - name
      type: object
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: "CHALONS-COMMUN"
    Family:
      required:
        - id
        - name
        - code
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Armoire"
        code:
          type: string
          example: "EP_ARMOIRE"

    # Action
    AskedServiceReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        name:
          type: string
          example: "Ma demande d'intervention"
        externalServiceId:
          type: string
          example: "DI00001"
        serviceStatus:
          $ref: '#/components/schemas/ServiceStatus'
        serviceAdditionalInfo:
          type: string
          example: "88"
    EmailActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        name:
          type: string
          example: "Rory Gilmore"
        email:
          type: string
          example: "r.gilmore@chalons.com"
    OtherActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        name:
          type: string
          example: "Mon action"
    PhoneActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        name:
          type: string
          example: "Luke Danes"
        phone:
          type: string
          example: "0001020304"
    AskedServiceWriteDto:
      required:
        - id
        - name
        - status
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        name:
          type: string
          example: "Ma demande d'intervention"
        externalServiceId:
          type: string
          example: "DI00001"
    EmailActionWriteDto:
      required:
        - id
        - name
        - status
        - email
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        name:
          type: string
          example: "Rory Gilmore"
        email:
          type: string
          example: "r.gilmore@chalons.com"
    OtherActionWriteDto:
      required:
        - id
        - name
        - status
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        name:
          type: string
          example: "Autre action"
    PhoneActionWriteDto:
      required:
        - id
        - name
        - status
        - phone
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          $ref: '#/components/schemas/ActionType'
        status:
          $ref: '#/components/schemas/Status'
        name:
          type: string
          example: "Luke Danes"
        phone:
          type: string
          example: "0001020304"

    # Comment
    CommentWriteDto:
      required:
        - id
        - message
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        message:
          type: string
          description: comment message
          example: "Mon commentaire"
    CommentReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        creator:
          type: string
          description: user fullname
        message:
          type: string
          description: comment message
          example: "Mon commentaire"
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'

    # Event
    JournalEventDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Défaillance lampe"
        domain:
          type: string
          example: "EP"
        address:
          type: string
          example: "Av. du Président Roosevelt, 51000 Châlons-en-Champagne"
        criticality:
          $ref: '#/components/schemas/Criticality'
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        status:
          $ref: '#/components/schemas/Status'
        category:
          type: string
          example: "OUTOFORDER"
          description: must be a known category code
        subCategory:
          type: string
          description: subCategory is required only if category is `ANOMALY`. Value match one of subCategory code
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        closeDate:
          $ref: '#/components/schemas/DateTime'
        externalSourceRef:
          type: string
          example: Citylinx
          description: Event source. Default to `Hyperviseur`
        procedureId:
          $ref: '#/components/schemas/UUID'
        linkedEvents:
          type: number
          description: Number of events that have the same procedure as the current event
        procedureProgress:
          type: number
          description: Percentage progress of the procedure
    EventReadDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Défaillance lampe"
        address:
          type: string
          example: "Av. du Président Roosevelt, 51000 Châlons-en-Champagne"
        description:
          type: string
          example: "Défaillance au niveau de la lampe"
        domain:
          type: string
          example: "EP"
        criticality:
          $ref: '#/components/schemas/Criticality'
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        status:
          $ref: '#/components/schemas/Status'
        category:
          type: string
          example: "OUTOFORDER"
          description: must be a known category code
        subCategory:
          type: string
          description: subCategory is required only if category is `ANOMALY`. Value match one of subCategory code
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        closeDate:
          $ref: '#/components/schemas/DateTime'
        endDate:
          $ref: '#/components/schemas/DateTime'
        startDate:
          $ref: '#/components/schemas/DateTime'
        externalSourceRef:
          type: string
          example: Citylinx
          description: Event source. Default to `Hyperviseur`
        procedureId:
          $ref: '#/components/schemas/UUID'
        linkedEvents:
          type: number
          description: Number of events that have the same procedure as the current event
        procedureProgress:
          type: number
          description: Percentage progress of the procedure
        lastComment:
          $ref: '#/components/schemas/CommentReadDto'
        commentsCount:
          type: integer
          description: total of comments on event
        parent:
          $ref: '#/components/schemas/ParentReadDto'
    EventWriteDto:
      required:
        - id
        - name
        - description
        - criticality
        - category
      type: object
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: "Dépôt sauvage"
        address:
          type: string
          example: "3 rue de Châlons"
        description:
          type: string
          example: "Il y a un dépôt sauvage ici"
        domain:
          type: string
          example: "EP"
        criticality:
          $ref: '#/components/schemas/Criticality'
        category:
          type: string
          description: Value match one of category code
          example: "ANOMALY"
        subCategory:
          type: string
          description: required only if `ANOMALY` is set on `cateogry` property. Value match one of subCategory code.
          example: "WILD_STORAGE"
        equipmentId:
          $ref: '#/components/schemas/UUID'
        endDate:
          $ref: '#/components/schemas/DateTime'
          description: required if category is "MANIFESTATION"
        startDate:
          $ref: '#/components/schemas/DateTime'
          description: required if category is "MANIFESTATION"
        parent:
          type: integer
          description: Parent event
          example: 3
    ExternalEventWriteDto:
      allOf:
        - $ref: '#/components/schemas/EventWriteDto'
        - type : object
          required:
            - creator
          properties:
            creator:
              type: string
    InternalEventWriteDto:
      allOf:
        - $ref: '#/components/schemas/EventWriteDto'
        - type: object
          required:
            - externalSourceRef
          properties:
            externalSourceRef:
              type: string
            externalId:
              type: string
    ParentReadDto:
      type: object
      properties:
        id:
          type: integer
          example: 3
        name:
          type: string
          example: "Manifestation en cours"

    # Event Summary
    EventSummaryDto:
      type: object
      properties:
        id:
          type: integer
          example: 1
        proocedureId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          example: "Accident voiture"
        criticality:
          $ref: '#/components/schemas/Criticality'
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        category:
          type: string
          description: Value match one of category code
          example: "Manifestation"
        interventionRequestTitle:
          type: string
          description: The last in progress or new service title
        interventionRequestCount:
          type: integer
          description: The total number of intervention requests linked to the procedure event
        startDate:
          $ref: '#/components/schemas/DateTime'
        endDate:
          $ref: '#/components/schemas/DateTime'
    EventsSummariesByStatusDto:
      type: object
      properties:
        counts:
          type: integer
          description: total count of events for status
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventSummaryDto'


    # Procedure
    ProcedureReadDto:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          description: "Ma procédure"
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        progress:
          type: number
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventReadDto'
        actions:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/EmailActionReadDto'
              - $ref: '#/components/schemas/PhoneActionReadDto'
              - $ref: '#/components/schemas/OtherActionReadDto'
              - $ref: '#/components/schemas/AskedServiceReadDto'
    ProcedureWriteDto:
      required:
        - id
        - name
        - events
      type: object
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: "Ma procédure"
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventWriteDto'
        actions:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/EmailActionWriteDto'
              - $ref: '#/components/schemas/PhoneActionWriteDto'
              - $ref: '#/components/schemas/OtherActionWriteDto'
              - $ref: '#/components/schemas/AskedServiceWriteDto'

    # Procedure Model
    ProcedureModelWriteDto:
      required:
        - id
        - name
        - description
        - creator
      type: object
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: "Ma procédure"
        description:
          type: string
          example: "Description de ma procédure"
        domain:
          type: string
          example: "EP"
        creator:
          type: string
        actions:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/EmailActionWriteDto'
              - $ref: '#/components/schemas/PhoneActionWriteDto'
              - $ref: '#/components/schemas/OtherActionWriteDto'
              - $ref: '#/components/schemas/AskedServiceWriteDto'
    ProcedureModelReadDto:
      type: object
      properties:
        id:
          type: integer
          example: 3
        useCount:
          type: integer
          example: 4
        name:
          type: string
          example: "Ma procédure"
        description:
          type: string
          example: "Ma description"
        domain:
          type: string
          example: "EP"
        creator:
          type: string
          example: "Jess Mariano"
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        actions:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/EmailActionReadDto'
              - $ref: '#/components/schemas/PhoneActionReadDto'
              - $ref: '#/components/schemas/OtherActionReadDto'
              - $ref: '#/components/schemas/AskedServiceReadDto'

    # Service
    ExternalServiceWriteDto:
      required:
        - name
        - priority
        - description
        - domain
      type: object
      properties:
        name:
          type: string
        equipment:
          $ref: '#/components/schemas/UUID'
        priority:
          $ref: '#/components/schemas/Priority'
        description:
          type: string
        domain:
          type: string
          example: "EP"
    ServiceReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        externalId:
          type: string
        additionalInfo:
          type: string
        description:
          type: string
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        creationDate:
          $ref: '#/components/schemas/DateTime'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        startDate:
          $ref: '#/components/schemas/DateTime'
        endDate:
          $ref: '#/components/schemas/DateTime'
        closeDate:
          $ref: '#/components/schemas/DateTime'
        domain:
          type: string
          example: "EP"
        status:
          $ref: '#/components/schemas/ServiceStatus'
        category:
          type: string
          description: Value match one of `ServiceCategory` code
          example: "CURA"
    ServiceWriteDto:
      required:
        - id
        - name
        - status
        - description
        - creationDate
        - lastModificationDate
        - category
      type: object
      properties:
        id:
          type: string
          example: "DI00001938"
        additionalInfo:
          type: string
          example : "88"
        description:
          type: string
          example: "Demande d'intervention sur equipement camera N°1"
        equipment:
          type: string
          example: "CAM1"
        creationDate:
          $ref: '#/components/schemas/DateTime'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        startDate:
          $ref: '#/components/schemas/DateTime'
        endDate:
          $ref: '#/components/schemas/DateTime'
        closeDate:
          $ref: '#/components/schemas/DateTime'
        domain:
          type: string
          example: "EP"
        status:
          $ref: '#/components/schemas/ServiceStatus'
        category:
          type: string
          description: Value match one of `ServiceCategory` code
          example: "CURA"
    ServiceTypeReadDto:
      type: object
      properties:
        type:
          type: string
          example: "Armoire - Ouverte"
        domain:
          type: string
          example: "EP"
        gti:
          type : integer
          example: null
        gtr:
          type: integer
          example: 30
        gtrp:
          type: integer
          example: 24

    # Equipment
    EquipmentReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        externalId:
          type: string
          example:
            SOURCE1: id1
            SOURCE2: id2
        code:
          type: string
          example: "A-001"
        name:
          type: string
          example: "A-001"
        family:
          type: string
          description: Value match one of `Family` code
          example: "EP_ARMOIRE"
        domain:
          type: string
          description: Value match one of `Domain` code
          example: "EP"
        entity:
          type: string
          description: Value match one of `Equipment Entity` code
          example: "CHALONS-COMMUN"
        city:
          type: string
          description: Value must match one of `City` code
          example: "CHALONS"
        district:
          type: string
          description: Value must match one of `District` code
          example: "CENTRE"
        address:
          type: string
          example: "24 rue de Châlons"
        deleted:
          type: boolean
          default: false
          description: |
            If true then the equipment will not be counted in the metrics and will not be returned. 
            It can be reachable by getting by id.
        parent:
          $ref: '#/components/schemas/EquipmentReadDto'
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventReadDto'
    EquipmentShortDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        code:
          type: string
          example: "A-001"
        family:
          type: string
          description: Value match one of `Family` code
          example: "EP_ARMOIRE"
        entity:
          type: string
          description: Value match one of `Equipment Entity` code
          example: "CHALONS-COMMUN"
    EquipmentWriteDto:
      required:
        - id
        - code
        - name
        - family
        - domain
        - entity
        - city
        - address
        - level
      type: object
      additionalProperties: true
      properties:
        id:
          type: object
          description: Map of external ids
          example:
            SOURCE1: id1
            SOURCE2: id2
        code:
          type: string
        name:
          type: string
          example: "A-001"
        family:
          type: string
          description: Value must match one of `Family` name
          example: "Armoire"
        domain:
          type: string
          description: Value must match one of `Domain` code
          example: "EP"
        entity:
          type: string
          description: Value must match one of `Equipment Entity` code
          example: "CHALONS-COMMUN"
        city:
          type: string
          description: Value must match one of `City` code
          example: "CHALONS"
        district:
          type: string
          description: Value must match one of `District` code
          example: "CENTRE"
        address:
          type: string
          example: "24 rue de Châlons"
        deleted:
          type: boolean
          default: false
          description: if true then the equipment will not be counted in the metrics and will not be returned
        level:
          type: integer
          description: Corresponds to the level to determine whether it will have a parent or not. If the value is 1, then it can be referenced in children equipments and will not itself have a parent equipment.
        parent:
          type: string
          description: The value must be the parent `code` property

    # Metrics
    AggregatedService:
      type: array
      items:
        type: object
        properties:
          start:
            $ref: '#/components/schemas/DateTime'
          count:
            type: integer
    AggregatedAnomaly:
      type: array
      items:
        type: object
        properties:
          start:
            $ref: '#/components/schemas/DateTime'
          subCategory:
            type: string
          count:
            type: integer
    AnomalyCount:
      type: object
      properties:
        UNUSUAL_FLOW:
          type: integer
        WILD_STORAGE:
          type: integer
        "TRAFFIC_CONGESTION":
          type: integer
    AnomalyQueryResult:
      type: array
      items:
        type: object
        properties:
          entity:
            type: string
          subCategory:
            type: string
          count:
            type: integer
    EpEquipmentWithEventDto:
      type: object
      properties:
        nbEquipWithEvent_A:
          type: integer
          description: Count of equipments "Armoire" with at least one event not finished and that is not a "MANIFESTATION"
        totalEquipWithEvent_A:
          type: integer
          description: Total count of equipments "Armoire"
        nbServiceTodoWithEquip_A:
          type: integer
          description: Count of requested services linked to an "Armoire" equipment
        nbServiceInProgressWithEquip_A:
          type: integer
          description: Count of in progress services linked to an "Armoire" equipment
        nbEquipWithEvent_FL:
          type: integer
          description: Count of equipments "Foyer Lumineux" with at least one event not finished and that is not a "MANIFESTATION"
        totalEquipWithEvent_FL:
          type: integer
          description: Total count of equipments "Foyer Lumineux"
        nbServiceTodoWithEquip_FL:
          type: integer
          description: Count of requested services linked to an "Foyer Lumineux" equipment
        nbServiceInProgressWithEquip_FL:
          type: integer
          description: Count of in progress services linked to an "Foyer Lumineux" equipment
        nbEquipWithEvent_unmanaged:
          type: integer
          description: Count of unmanaged equipments with at least one event not finished and that is not a "MANIFESTATION"
        totalEquipWithEvent_unmanaged:
          type: integer
          description: Total count of unmanaged equipments
        nbServiceTodoWithEquip_unmanaged:
          type: integer
          description: Count of requested services linked to an unmanaged equipment
        nbServiceInProgressWithEquip_unmanaged:
          type: integer
          description: Count of in progress services linked to an unmanaged equipment
    EpEquipmentWithEventDetailedDto:
      allOf:
        - $ref: '#/components/schemas/EpEquipmentWithEventDto'
        - type: object
          properties:
            manifestation:
              type: object
              properties:
                nbEquipWithEvent_A:
                  type: integer
                nbEquipWithEvent_FL:
                  type: integer
                nbEquipWithEvent_unmanaged:
                  type: integer
            outoforder:
              type: object
              properties:
                nbEquipWithEvent_A:
                  type: integer
                nbEquipWithEvent_FL:
                  type: integer
                nbEquipWithEvent_unmanaged:
                  type: integer
            anomaly:
              type: object
              properties:
                nbEquipWithEvent_A:
                  type: integer
                nbEquipWithEvent_FL:
                  type: integer
                nbEquipWithEvent_unmanaged:
                  type: integer
            limit:
              type: object
              properties:
                nbEquipWithEvent_A:
                  type: integer
                nbEquipWithEvent_FL:
                  type: integer
                nbEquipWithEvent_unmanaged:
                  type: integer
    EquipmentsByEntity:
      type: object
      properties:
        CHA_managed:
          type: integer
          description: Count of managed equipments where entity is or `AGGLO-COMMUN`
        CHA_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `AGGLO-COMMUN`
        CH_managed:
          type: integer
          description: Count of managed equipments where entity is  `CHALONS-COMMUN`
        CH_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `CHALONS-COMMUN`
        FAGN_managed:
          type: integer
          description: Count of managed equipments where entity is `FAGNIERES-COMMUN`
        FAGN_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `FAGNIERES-COMMUN`
        SMP_managed:
          type: integer
          description: Count of managed equipments where entity is `SAINT-MARTIN-COMMUN`
        SMP_unmanaged:
          type: integer
          description: Count of unmanaged equipments where entity is `SAINT-MARTIN-COMMUN`
    EventsByEquipment:
      type: array
      items:
        type: object
        properties:
          code:
            type: string
          address:
            type : string
          city:
            type: string
          count:
            type: integer
    VpEquipmentWithEventDto:
      type: object
      properties:
        nbEquipWithEvent_C:
          type: integer
          description: Count of equipments "Camera" with at least one event not finished and that is not a "MANIFESTATION"
        totalEquipWithEvent_C:
          type: integer
          description: Total count of equipments "Camera"
        nbServiceTodoWithEquip_C:
          type: integer
          description: Count of requested services linked to an "Camera" equipment
        nbServiceInProgressWithEquip_C:
          type: integer
          description: Count of in progress services linked to an "Camera" equipment
    VpEquipmentWithEventDetailedDto:
      allOf:
        - $ref: '#/components/schemas/VpEquipmentWithEventDto'
        - type: object
          properties:
            manifestation:
              type: object
              properties:
                nbEquipWithEvent_C:
                  type: integer
            outoforder:
              type: object
              properties:
                nbEquipWithEvent_C:
                  type: integer
            anomaly:
              type: object
              properties:
                nbEquipWithEvent_C:
                  type: integer
            limit:
              type: object
              properties:
                nbEquipWithEvent_C:
                  type: integer