openapi: 3.0.3
info:
  title: Provoly Hypervisor API
  description: CRUD Operation on repositories data
  version: 1.0.0
servers:
  - url: http://provoly-hypervisor.com
paths:
  /events:
    get:
      tags:
        - Event Controller
      summary: Retrieve all events with pagination
      description: |
        Default sort on `status` (NEW,IN_PROGRESS,DONE), `criticality` (HIGH,MEDIUM,LOW) and `lastModificationDate` (reversed). It's possible to override it by sorting on other attributes.
        If order is no provided when sort, the default is asc.
        It's possible to filter on one or more criticalities, statuses, categories, sources, equipment entities or equipment families.
        It's possible to search on event id, event name or equipment name.
      operationId: com.provoly.event.EventController_getEvents
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Page number requested, triggers an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, returns an empty list if not specified.
        - name: creationDate
          in: query
          description: The date must be set to midnight. The filter will return all events created on that day.
          schema:
            type: string
            example: 2024-01-20T00:00:00Z
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: status
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Status'
        - name: category
          in: query
          schema:
            type: array
            items:
              type: string
        - name: entity
          in: query
          description: The equipment entity name. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'CHALONS-COMMUN' ]
        - name: family
          in: query
          description: The equipment family code. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'EP_O','EP_FL','EP_A' ]
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/EventSort'
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/SortOrder'
        - name: name
          in: query
          schema:
            type: string
          description: search on event name
          example: '00001'
        - name: id
          in: query
          schema:
            type: string
          description: search on event id
          example: '00001'
        - name: equipment
          in: query
          schema:
            type: string
          description: search on equipment name of event
          example: 'c-A'
      responses:
        "200":
          description: Return 2 events with `status` is `DONE` or `NEW` and `criticality` is `LOW` or `HIGH`
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": 1,
                        "name": "Defaillance lampe",
                        "address": "112 Av. de Paris, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "LOW",
                        "status": "DONE",
                        "lastModificationDate": "2024-02-23T11:12:39.375184Z",
                        "creationDate": "2024-01-22T11:12:39.375184Z",
                        "equipment": {
                          "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23915",
                          "name": "C-1034",
                          "type": "Ouvrage",
                          "entity": "AGGLO-COMMUN"
                        },
                        "procedureId": 4,
                        "linkedEvents": 2,
                        "procedureProgress": 100,
                        "externalSourceRef": "citylinx_1",
                        "category": "OUTOFORDER",
                        "parent": {
                          "id": 1,
                          "name": "Tempête"
                        }
                      },
                      {
                        "id": 2,
                        "name": "Maintenance ouvrage2",
                        "address": "63 Rue de Fagnières, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "MEDIUM",
                        "status": "DONE",
                        "lastModificationDate": "2024-02-22T11:12:39.375184Z",
                        "creationDate": "2024-01-23T11:12:39.375184Z",
                        "equipment": null,
                        "procedureId": "4",
                        "linkedEvents": 2,
                        "procedureProgress": 100,
                        "externalSourceRef": "external_source3",
                        "category": "LIMIT"
                      },
                      {
                        "id": 3,
                        "name": "Festival Chalons",
                        "address": "28 E Rue du Général Fery, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "MEDIUM",
                        "status": "IN_PROGRESS",
                        "lastModificationDate": "2024-02-20T11:12:39.375184Z",
                        "creationDate": "2024-01-20T11:12:39.375184Z",
                        "equipment": null,
                        "procedureId": "3",
                        "linkedEvents": 1,
                        "procedureProgress": 0,
                        "category": "MANIFESTATION",
                        "startDate": "2008-01-02T23:00:00Z",
                        "endDate": "2008-01-03T23:00:00Z"
                      }
                    ]

        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
      security:
        - oidc:
            - authenticated
    post:
      tags:
        - Event Controller
      summary: Save an Event
      description: |
        Events may come from the hypervisor, or from an external source. In this case, the `externalSourceRef` property must be filled in. 
        By default, the source is “Hypervisor”. 
        It's possible to set an `externalId`, in order to update event if already exists instead of save it (used for nodered flows). 
        `MANIFESTATION` category, `startDate` and `endDate` properties are necessary. `enDate` can't be before `startDate`.
        `ANOMALY` category requires sub categories.
      operationId: com.provoly.event.EventController_saveEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventWriteDto'
            examples:
              default:
                summary: Create "outoforder" event
                value: |
                  {
                    "name":"event alert",
                    "description": "desc",
                    "address": "1 rue simone veil",
                    "criticality": "HIGH",
                    "category":"OUTOFORDER",
                    "equipmentId":"0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                    "externalSourceRef": "source"
                  }
              event_with_subcategory:
                summary: Create "anomaly" event
                value: |
                  {
                    "name": "Traffic congestion anomaly",
                    "address": "14 rue de Chalons",
                    "description": "description",
                    "criticality": "MEDIUM",
                    "domain": "EP",
                    "category": "ANOMALY",
                    "subCategory":"TRAFFIC_CONGESTION",
                    "equipmentId": "f7eea8e4-bc10-4551-b866-94fb8ea2dc47"
                  }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReadDto'
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidEquipment:
                  description: Occurs when equipmentId not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with id '0c728960-d5fd-49ea-8fe8-f72cb9cfcccd' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - event_write
  /events/id/{id}:
    get:
      tags:
        - Event Controller
      summary: Retrieve event by id
      operationId: com.provoly.event.EventController_getEventDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 21
          required: true
      responses:
        "200":
          description: Returns Event Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": 21,
                      "name": "Defaillance lampe",
                      "address": null,
                      "description": null,
                      "criticality": "LOW",
                      "status": "DONE",
                      "lastModificationDate": "2024-02-23T12:56:00.802501Z",
                      "creationDate": "2024-02-23T12:56:00.802501Z",
                      "category": "LIMIT",
                      "equipment": {
                        "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23915",
                        "name": "C-1034",
                        "type": "Ouvrage",
                        "entity": "Châlons Agglo"
                      },
                      "externalSourceRef": "citylinx_1"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_read
    put:
      tags:
        - Event Controller
      summary: Update an Event
      description: |
        It's possible to update any events, but events with an external source have non-modifiable properties:
        `category`, `subCategory`, `name` and `externalId`.
      operationId: com.provoly.event.EventController_updateEvent
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 1
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventWriteDto'
            examples:
              default:
                summary: Update "limit" event
                value: |
                  {
                    "id": 1,
                    "name":"event report updated",
                    "description": "desc",
                    "address": "2 rue virgina woolf",
                    "criticality": "HIGH",
                    "category":"LIMIT",
                    "equipmentId":"0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                    "externalSourceRef": "source"
                  }
      responses:
        "204":
          description: Updated
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidEquipment:
                  description: Occurs when equipmentId not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with id '0c728960-d5fd-49ea-8fe8-f72cb9cfcccd' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
        "404":
          description: Event not Found
      security:
        - oidc:
            - event_write
  /events/id/{id}/close:
    put:
      tags:
        - Event Controller
      summary: Close event by id
      description: |
        Set status to DONE and update `closeDate` property. 
        Close date is not updated if event is already closed.
      operationId: com.provoly.event.EventController_closeEvent
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 22
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
            examples:
              default:
                summary: close event
                value: |
                  {
                    "id": "c3b9ead7-57a5-4dd4-a8bd-36da14bf1ac1",
                    "message":"Event is done"
                  }
      responses:
        "204":
          description: Updated
        "401":
          description: Not Authorized
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_write
  /events/id/{id}/comments:
    put:
      tags:
        - Event Controller
      summary: Save or update comment for an event
      description: Comment can be edited by its creator only. It's not possible to add or update a comment on a DONE event.
      operationId: com.provoly.event.EventController_saveOrUpdateCommentForEvent
      parameters:
        - name: id
          in: path
          description: event id
          schema:
            type: integer
          example: 22
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
            examples:
              default:
                summary: add new comment
                value: |
                  {
                    "id": "0c728960-d5fd-49ea-8fe8-f72cb9cfccca",
                    "message": "my comment",
                    "creator": "A.ThePower"
                  }
      responses:
        "204":
          description: Created or Updated
        "401":
          description: Not Authorized
        "403":
          description: Event is DONE or creator is not allowed
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_write
    get:
      tags:
        - Event Controller
      summary: Get all comments for an event
      operationId: com.provoly.event.EventController_getCommentsForEvent
      parameters:
        - name: id
          in: path
          description: event id
          schema:
            type: integer
          example: 22
          required: true
      responses:
        "200":
          description: Return 2 comments for event
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": "d2915506-6ce7-47a1-9c05-7ae0de22dc09",
                        "creator": "A.ThePower",
                        "message": "my first comment message",
                        "lastModificationDate": "2024-08-02T11:00:00Z",
                        "creationDate": "2024-08-02T11:00:00Z"
                      },
                      {
                        "id": "5ecb7585-8aa0-4d88-a99b-32401d1db52c",
                        "creator": "B.Summers",
                        "message": "This comment is great",
                        "lastModificationDate": "2024-08-05T09:00:00Z",
                        "creationDate": "2024-09-04T10:00:00Z"
                      }
                    ]
        "401":
          description: Not Authorized
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_read
  /events/summary:
    get:
      tags:
        - Event Controller
      summary: Retrieve summary events grouped by status
      description: |
        Returns the last n summary events, sorted by last modification date and status. 
        It is possible to sort these summary events by criticality
      operationId: com.provoly.event.EventController_getEventSummaries
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Limit of summary events by status. Default to 5.
        - name: criticality
          in: query
          schema:
            $ref: '#/components/schemas/Criticality'
          example: "HIGH"
          description: Filter on the criticality required
          required: false
      responses:
        "200":
          description: Return first summary event by status with a `MEDIUM` criticality
          content:
            application/json:
              schema:
                properties:
                  NEW:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
                  IN_PROGRESS:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
                  DONE:
                    $ref: '#/components/schemas/EventsSummariesByStatusDto'
              examples:
                default:
                  value: |
                    {
                      "IN_PROGRESS": {
                        "count": 2,
                        "events": [
                          {
                            "id": 34,
                            "name": "Festival Chalons",
                            "criticality": "MEDIUM",
                            "status": "IN_PROGRESS",
                            "lastModificationDate": "2024-02-20T10:37:33.792659Z",
                            "category": "MANIFESTATION",
                            "interventionRequestTitle": null,
                            "interventionRequestCount": 1,
                            "manifestation": {
                              "startDate": "2008-01-02T23:00:00Z",
                              "endDate": "2008-01-03T23:00:00Z"
                            }
                          }
                        ]
                      },
                      "DONE": {
                        "count": 1,
                        "events": []
                      },
                      "NEW": {
                        "count": 3,
                        "events": [
                          {
                            "id": 22,
                            "name": "Maintenance ouvrage2",
                            "criticality": "MEDIUM",
                            "status": "NEW",
                            "lastModificationDate": "2024-02-20T10:37:33.792659Z",
                            "category": "LIMIT",
                            "interventionRequestTitle": "intervention procedure_2",
                            "interventionRequestCount": 2,
                            "manifestation": {}
                          }
                        ]
                      }
                    }
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidCriticality:
                  description: Occurs when Criticality filter is invalid
                  value: |
                    {
                        "code": 400,
                        "message": "No enum constant com.provoly.event.Criticality.toto"
                    }
                invalidLimit:
                  description: Occurs when limit query is invalid
                  value: |
                    {
                        "code": 400,
                        "message": "'limit' must be greater than 0"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
          content:
            application/json:
              examples:
                invalidLimit:
                  description: Occurs when limit query is invalid
                  value: |
                    {
                        "code": 403,
                        "message": "'limit' must be greater than 0"
                    }
      security:
        - oidc:
            - authenticated
  /events/export:
    get:
      tags:
        - Event Controller
      summary: Export all events
      description: |
        Export events in a .xslx file.
        It's possible to export all events, even archived events if option is set to true. Default to false.
      operationId: com.provoly.event.EventController_getEventSummaries
      parameters:
        - name: archived
          in: query
          schema:
            type: boolean
          required: false
      responses:
        "200":
          description: Events are exported.
        "401":
          description: Not Authorized
        "403":
          description: Forbidden
      security:
        - oidc:
            - authenticated
  /procedures/model:
    get:
      tags:
        - Procedure Model Controller
      summary: Retrieve all procedures model with pagination
      description: |
        Default sort on `useCount` (reversed) and  `name`. It's possible to override it by sorting on other attributes.
        If order is no provided when sort, the default is asc.
        It's possible to filter on one or more domains, or search by name, creator or id by using `search` filter
      operationId: com.provoly.event.ProcedureModelController_getProceduresModel
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Page number requested, triggers an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, returns an empty list if not specified.
        - name: search
          in: query
          description: Returns all procedures whose value is contained in the `name`, `creator` or `id` property
          schema:
            type: string
            example: proc
        - name: domain
          in: query
          description: The domain code. It must be known to the system.
          schema:
            type: array
            items:
              type: string
            example: [ 'EP' ]

        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ProcedureModelSort'
        - name: order
          in: query
          schema:
            $ref: '#/components/schemas/SortOrder'
      responses:
        "200":
          description: Return 2 procedures models with `domain` is `EP` and `name`, `creator` or `id``contains "laura"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcedureModelReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": 1,
                        "name": "laura's procedure",
                        "description": "description",
                        "creationDate": "2024-06-20T07:39:35.555495Z",
                        "lastModificationDate": "2024-06-20T07:44:06.853084Z",
                        "creator": "eliott",
                        "domain": "EP",
                        "useCount": 4,
                        "actions": [
                          {
                            "id": "e9f9246d-7fef-4339-92f4-50335c9ca097",
                            "type": "OTHER",
                            "status": "NEW",
                            "lastModificationDate": "2024-06-28T06:16:36.421040Z",
                            "name": "other"
                          }
                        ]
                      },
                      {
                        "id": 2,
                        "name": "procedure model 4",
                        "description": "description",
                        "creationDate": "2024-06-20T07:39:35.555495Z",
                        "lastModificationDate": "2024-06-20T07:44:06.853084Z",
                        "creator": "laura",
                        "domain": "EP",
                        "useCount": 0,
                        "actions": [
                          {
                            "id": "e81eebe9-599c-41f9-bb70-bb4c34a3d744",
                            "type": "OTHER",
                            "status": "NEW",
                            "lastModificationDate": "2024-06-28T06:16:36.426601Z",
                            "name": "other2"
                          }
                        ]
                      }
                    ]

        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
      security:
        - oidc:
            - proc_model_read
    post:
      tags:
        - Procedure Model Controller
      summary: Save a procedure model
      description: |
        Save a procedure model and it's actions. Default actions types are `EMAIL`, `PHONE`, `SMS`, `ASKED_SERVICE` and `OTHER`.
        It's possible to insert custom action types that will not have specific properties.
      operationId: com.provoly.event.ProcedureModelController_saveProcedureModel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureModelWriteDto'
            examples:
              default:
                summary: Save procedure model
                value: |
                  {
                    "name": "model de procedure test",
                    "description": "description",
                    "creator": "billie",
                    "domain": "EP",
                    "actions": [
                      {
                        "id": "f3a43a98-1d86-4ba5-84a8-7c3462786f63",
                        "type": "EMAIL",
                        "name": "toto",
                        "email": "toto"
                      },
                      {
                        "id": "28c017db-cb9a-4cc1-a1a4-f9be0a88dc94",
                        "type": "CSU"
                      },
                      {
                        "id": "e9f9246d-7fef-4339-92f4-50335c9ca097",
                        "type": "OTHER",
                        "name": "other action"
                      },
                      {
                        "id": "5977b943-7612-46a2-a983-ac32785e9a84",
                        "type": "PHONE",
                        "name": "tutu",
                        "phone": "0102030405"
                      },
                      {
                        "id": "31de7845-4cce-4d2a-b001-84f534efcace",
                        "type": "SMS",
                        "name": "titi",
                        "phone": "0102030405"
                      }
                    ]
                  }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureModelWriteDto'
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidName:
                  description: Occurs when name already exists
                  value: |
                    {
                        "code": 400,
                        "message": "Event with name 'event alert' already exists"
                    }
                invalidEquipment:
                  description: Occurs when equipmentId not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with id '0c728960-d5fd-49ea-8fe8-f72cb9cfcccd' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - proc_model_write
  /procedures/model/id/{id}:
    get:
      tags:
        - Procedure Model Controller
      summary: Retrieve procedure model by id
      operationId: com.provoly.procedure.ProcedureModelController_getProcedureDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 29
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Procedure Model Not found
        "200":
          description: Returns procedure model Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureModelReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": 29,
                      "name": "procedure model 4",
                      "description": "description",
                      "creationDate": "2024-06-20T07:39:35.555495Z",
                      "lastModificationDate": "2024-06-20T07:44:06.853084Z",
                      "creator": "Jean Dupont",
                      "domain": "VP",
                      "useCount": 0,
                      "actions": [
                        {
                          "id": "5977b943-7612-46a2-a983-ac32785e9a84",
                          "type": "PHONE",
                          "status": "DONE",
                          "lastModificationDate": "2024-06-28T06:16:36.432234Z",
                          "name": "tutu",
                          "phone": "0102030405"
                        },
                        {
                          "id": "31de7845-4cce-4d2a-b001-84f534efcace",
                          "type": "SMS",
                          "status": "NEW",
                          "lastModificationDate": "2024-06-28T06:16:36.441100Z",
                          "name": "titi",
                          "phone": "0102030405"
                        }
                      ]
                    }
      security:
        - oidc:
            - proc_model_read
    put:
      tags:
        - Procedure Model Controller
      summary: Update procedure model
      description: It's possible to update every properties, even actions order. But `creator` must be the same.
      operationId: com.provoly.procedure.ProcedureModelController_updateProcedureModel
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureModelWriteDto'
            examples:
              default:
                summary: Update Procedure model
                value: |
                  {
                    "name": "model de procedure updated",
                    "description": "description",
                    "creator": "toto",
                    "domain": "VP",
                    "actions": [
                        {
                          "id": "5977b943-7612-46a2-a983-ac32785e9a84",
                          "type": "ASKED_SERVICE",
                          "name": "my service"
                        },
                        {
                          "id": "31de7845-4cce-4d2a-b001-84f534efcace",
                          "type": "SMS",
                          "name": "thierry",
                          "phone": "0000000000"
                        }
                      ]
                  }
      responses:
        "204":
          description: Updated
        "400":
          description: |
            - Invalid domain/action type 
            - Name already exists 
            - Action id already exists 
            - `creator` must be unchanged
        "401":
          description: Not Authorized
      security:
        - oidc:
            - proc_model_write
  /procedures/model/id/{id}/associate:
    put:
      tags:
        - Procedure Model Controller
      summary: Associate procedure model to one or more events
      description: |
        The procedure model association will generate a new Procedure instance. 
        This procedure is linked to events whose ids are in request body.
        These events will automatically be set to `IN_PROGRESS` status.
      operationId: com.provoly.procedure.ProcedureModelController_associateProcedureModeltoEvents
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                description: events id
            examples:
              default:
                summary: Associate Procedure model to events 1,2 and 3.
                value: [1,2,3]
      responses:
        "201":
          description: Procedure instance created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureReadDto'
        "400":
          description: At least one event id not exists
        "401":
          description: Not Authorized
        "403":
          description:  At least one event is already associated to a procedure, or closed.
        "404":
          description: Procedure model not found
      security:
        - oidc:
            - event_write
  /procedures/id/{id}:
    get:
      tags:
        - Procedure Controller
      summary: Retrieve procedure by id
      description: Return procedure detail and its linked events.
      operationId: com.provoly.procedure.ProcedureController_getProcedureDetails
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 45
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Procedure Not found
        "200":
          description: Returns procedure Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": 45,
                      "name": "procedure maintenance",
                      "creationDate": "2024-02-23T12:56:00.802501Z",
                      "actions": [
                        {
                          "id": "f3a43a98-1d86-4ba5-84a8-7c3462786f63",
                          "type": "EMAIL",
                          "status": "IN_PROGRESS",
                          "lastModificationDate": "2024-06-28T06:16:36.404574Z",
                          "name": "toto",
                          "email": "toto"
                        },
                        {
                          "id": "f3a43a98-1d86-4ba5-84a8-7c3462786f64",
                          "type": "PHONE",
                          "status": "DONE",
                          "lastModificationDate": "2024-06-28T06:16:36.404574Z",
                          "name": "tutu",
                          "email": "1111111111"
                        }
                      
                      ],
                      "events": [
                        {
                          "id": 66,
                          "name": "Defaillance lampe",
                          "address": null,
                          "description": null,
                          "criticality": "LOW",
                          "status": "DONE",
                          "lastModificationDate": "2024-02-23T12:56:00.802501Z",
                          "creationDate": "2024-02-23T12:56:00.802501Z",
                          "category": "OUTOFORDER",
                          "equipment": {
                            "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23915",
                            "name": "C-1034",
                            "type": "Ouvrage",
                            "entity": "Châlons Agglo"
                          },
                          "externalSourceRef": "citylinx_1"
                        },
                        {
                          "id": 37,
                          "name": "Maintenance ouvrage2",
                          "address": null,
                          "description": null,
                          "criticality": "MEDIUM",
                          "status": "NEW",
                          "lastModificationDate": "2024-02-23T12:56:00.802501Z",
                          "creationDate": "2024-02-23T12:56:00.802501Z",
                          "category": "LIMIT",
                          "equipment": {
                            "id": "12a64ae7-70ca-4d12-bcd9-9f1c75f23916",
                            "name": "C-761",
                            "type": "Ouvrage",
                            "entity": "Châlons Agglo"
                          },
                          "externalSourceRef": "external_source3"
                        }
                      ],
                      "progress": 50.0
                    }
      security:
        - oidc:
            - event_read
    put:
      tags:
        - Procedure Controller
      summary: Update events and actions procedure
      operationId: com.provoly.procedure.ProcedureController_updateProcedure
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 3
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcedureWriteDto'
            examples:
              default:
                summary: Update Report event from procedure
                value: |
                  {
                    "id": 3,
                    "name": "procedure_1",
                    "actions": [
                      {
                        "id": "5977b943-7612-46a2-a983-ac32785e9a84",
                        "type": "ASKED_SERVICE",
                        "name": "my service"
                      },
                      {
                        "id": "31de7845-4cce-4d2a-b001-84f534efcace",
                        "type": "SMS",
                        "name": "thierry",
                        "phone": "0000000000"
                      }
                    ],
                    "events": [
                      {
                        "id": 2,
                        "name": "Accident voiture UPDATE",
                        "address": "10 Rue du Camp d'Attila, 51000 Châlons-en-Champagne",
                        "description": "description",
                        "criticality": "HIGH",
                        "equipmentId": "4ead3c85-f120-4144-8ca2-29ac9882ff5f",
                        "externalSourceRef": "external_source2",
                        "category": "LIMIT"
                      }
                    ]
                  }
      responses:
        "204":
          description: Updated
        "400":
          description: Bad Request
        "401":
          description: Not Authorized
      security:
        - oidc:
            - event_proc_write
            - event_write
    delete:
      tags:
        - Procedure Controller
      summary: Delete procedure by id
      description: |
        Events can again be associated with a procedure model. Status events are reset to `NEW`.
      operationId: com.provoly.procedure.ProcedureController_deleteProcedure
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 45
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Procedure Not found
        "204":
          description: Procedure deleted
      security:
        - oidc:
            - event_write
  /procedures/id/{id}/close:
    put:
      tags:
        - Procedure Controller
      summary: Close all procedure events by id
      description: Set status to DONE. Close date is not updated if event is already closed
      operationId: com.provoly.procedure.ProcedureController_closeAllProcedureEvents
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 50
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
            examples:
              default:
                summary: Close procedure
                value: |
                  {
                    "id": "c3b9ead7-57a5-4dd4-a8bd-36da14bf1ac1",
                    "message":"Procedure is done"
                  }
      responses:
        "204":
          description: Updated
        "401":
          description: Not Authorized
        "404":
          description: Event Not found
      security:
        - oidc:
            - event_write
  /procedures/id/{id}/associate/event/id/{eventId}:
    put:
      tags:
        - Procedure Controller
      summary: Add new event to procedure
      description: |
        Add new event to an already instantiated procedure. 
        Event must have `NEW` status, and procedure can't be done;
      operationId: com.provoly.procedure.ProcedureController_addEventToProcedure
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          example: 50
          required: true
        - name: eventId
          in: path
          schema:
            type: integer
          example: 50
          required: true
      responses:
        "204":
          description: Updated
        "400":
          description: Event is done or procedure is done
        "401":
          description: Not Authorized
        "404":
          description: Event Not found or Procedure not Found
      security:
        - oidc:
            - event_write
  /actions/id/{id}/comments:
    put:
      tags:
        - Action Controller
      summary: Save or update comment for an action
      description: Comment can be edited by its creator only. It's not possible to add or update a comment on a DONE procedure.
      operationId: com.provoly.event.ActionController_saveOrUpdateCommentForAction
      parameters:
        - name: id
          in: path
          description: action id
          schema:
            type: string
          example: 30956c82-073f-4b51-8f79-b447ebe54c76
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWriteDto'
            examples:
              default:
                summary: add new comment
                value: |
                  {
                    "id": "0c728960-d5fd-49ea-8fe8-f72cb9cfccca",
                    "message": "my comment",
                    "creator": "A.ThePower"
                  }
      responses:
        "204":
          description: Created or Updated
        "401":
          description: Not Authorized
        "403":
          description: Procedure of this action is DONE or creator is not allowed
        "404":
          description: Action Not found
      security:
        - oidc:
            - event_proc_write
    get:
      tags:
        - Action Controller
      summary: Get all comments for an action
      operationId: com.provoly.event.ActionController_getCommentsForAction
      parameters:
        - name: id
          in: path
          description: action id
          schema:
            type: string
          example: 30956c82-073f-4b51-8f79-b447ebe54c76
          required: true
      responses:
        "200":
          description: Return 2 comments for action
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": "d2915506-6ce7-47a1-9c05-7ae0de22dc09",
                        "creator": "A.ThePower",
                        "message": "my first comment message",
                        "lastModificationDate": "2024-08-02T11:00:00Z",
                        "creationDate": "2024-08-02T11:00:00Z"
                      },
                      {
                        "id": "5ecb7585-8aa0-4d88-a99b-32401d1db52c",
                        "creator": "B.Summers",
                        "message": "This comment is great",
                        "lastModificationDate": "2024-08-05T09:00:00Z",
                        "creationDate": "2024-09-04T10:00:00Z"
                      }
                    ]
        "401":
          description: Not Authorized
        "404":
          description: Action Not found
      security:
        - oidc:
            - event_read
  /equipments:
    post:
      tags:
        - Equipment Controller
      summary: Save or update equipments
      description: If one of external id entry exists, update equipment, else create it
      operationId: com.provoly.equipment.EquipmentController_saveOrUpdateEquipments
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/EquipmentWriteDto'
            examples:
              default:
                summary: Create equipments with parents
                value: |
                  [
                    {
                      "id": {
                        "GMAO": "technical_unique_id"
                      },
                      "code":"C306",
                      "name":"C306",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "CHALONS-COMMUN",
                      "address":"1 rue Chalons",
                      "city": "CH",
                      "district": "CH_C",
                      "activeEnergy":30,
                      "EREQ_LEVEL": 2,
                      "parent": "C307"
                    },
                    {
                      "id":  {
                        "GMAO": "technical_unique_id2"
                      },
                      "code":"C307",
                      "name":"C307",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "CHALONS-COMMUN",
                      "address":"132 avenue Chalons",
                      "city": "CH",
                      "district": "CH_CD",
                      "activeEnergy": 70,
                      "EREQ_LEVEL": 1,
                      "parent": null
                    },
                    {
                      "id":  {
                        "GMAO": "technical_unique_id3"
                      },
                      "code":"C308",
                      "name":"C308",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "FAGNIERES-COMMUN",
                      "address":"97 impasse Fagniere",
                      "city": "FAGN",
                      "activeEnergy":null,
                      "EREQ_LEVEL": 2,
                      "parent": "C307"
                    }
                  ]
      responses:
        "204":
          description: No content
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidName:
                  description: Occurs when name already exists
                  value: |
                    {
                        "code": 400,
                        "message": "Event with name 'event report' already exists"
                    }
                invalidEquipment:
                  description: Occurs when equipment parent not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with code 'C397' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - authenticated
    get:
      tags:
        - Equipment Controller
      summary: Retrieve all equipments with pagination
      description: |
        Returns all equipments without `deleted` property.
        It's possible to filter on entity, or search by equipment name or family name.
      operationId: com.provoly.equipment.EquipmentController_getEquipments
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
          required: true
          description: Page number requested, triggers an error if not specified or if 0.
        - name: pageSize
          in: query
          schema:
            type: integer
          example: 20
          description: Page size, returns an empty list if not specified.
        - name: entity
          in: query
          schema:
            type: array
            items:
             type: string
          description: must match one of `EquipmentEntity` name
          example: 'FAGNIERES-COMMUN'
        - name: search
          in: query
          schema:
            type: string
          description: search on equipment code and family name
          example: 'armo'
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "200":
          description: Returns equipments details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": "c538a660-6450-4281-9fa9-c925f340eb54",
                        "externalId": {
                          "GMAO": "technical_unique_id"
                        },
                        "name": "C306",
                        "code": "C306",
                        "family": "Armoire",
                        "entity": "FAGNIERES-COMMUN",
                        "parent": {
                          "id": "c6cfac35-0939-4bb0-860e-fb00c6ff0ed7",
                          "externalId": "technical_unique_id2",
                          "name": "C307",
                          "code": "C307",
                          "family": "Armoire",
                          "domain": "EP",
                          "entity": "FAGNIERES-COMMUN",
                          "parent": null,
                          "activeEnergy": 70
                        },
                        "activeEnergy": 30
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /equipments/id/{id}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by id
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetails
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          example: 01ffde9d-30d2-4273-b61f-c6addd8747c8
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Equipment Not found
        "200":
          description: Returns equipment Details by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": "c538a660-6450-4281-9fa9-c925f340eb54",
                      "externalId": {
                        "GMAO": "technical_unique_id"
                      },
                      "name": "C306",
                      "code": "C306",
                      "family": "Armoire",
                      "domain": "EP",
                      "entity": "FAGNIERES-COMMUN",
                      "parent": {
                        "id": "c6cfac35-0939-4bb0-860e-fb00c6ff0ed7",
                        "externalId": "technical_unique_id2",
                        "name": "C307",
                        "code": "C307",
                        "family": "Armoire",
                        "domain": "EP",
                        "entity": "FAGNIERES-COMMUN",
                        "parent": null,
                        "activeEnergy": 70
                      },
                      "activeEnergy": 30
                    }
      security:
        - oidc:
            - authenticated
  /equipments/name/{name}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by name
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetails
      parameters:
        - name: name
          in: path
          schema:
            type: string
          example: P-1000
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Equipment Not found
        "200":
          description: Returns equipment Details by name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": "0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                      "externalId": {
                        "GMAO": "technical_unique_id"
                      },
                      "name": "P-1000",
                      "type": "Point Lumineux",
                      "entity": "FAGNIERES"
                    }
      security:
        - oidc:
            - authenticated
  /equipments/{source}/id/{id}:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve an equipment by source and externalId
      operationId: com.provoly.equipment.EquipmentController_getEquipmentsDetailsByExternalId
      parameters:
        - name: source
          in: path
          schema:
            type: string
          example: GMAO
          required: true
        - name: id
          in: path
          schema:
            type: string
          example: technical_unique_id
          required: true
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "404":
          description: Equipment Not found
        "200":
          description: Returns equipment Details by name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentReadDto'
              examples:
                default:
                  value: |
                    {
                      "id": "0c728960-d5fd-49ea-8fe8-f72cb9cfcccd",
                      "externalId": {
                        "GMAO": "technical_unique_id"
                      },
                      "name": "P-1000",
                      "type": "Point Lumineux",
                      "entity": "FAGNIERES"
                    }
      security:
        - oidc:
            - authenticated
  /equipments/entities:
    get:
      tags:
        - Equipment Controller
      summary: Retrieve all equipment entities
      operationId: com.provoly.equipment.EquipmentController_getEquipmentEntitiesName
      responses:
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: [ "FAGNIERES-COMMUN", "CHALONS_AGGLOS" ]
      security:
        - oidc:
            - authenticated
  /services:
    post:
      tags:
        - Service Controller
      summary: Save or update services
      description: |
       `startDate` and `endDate` are required is `status` at least `ASKED` and
       `closeDate` is required if `status` is `DONE`
      operationId: com.provoly.equipment.ServiceController_saveOrUpdateServices
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ServiceWriteDto'
            examples:
              default:
                summary: Create services
                value: |
                  [
                    {
                      "id": "DI00001935",
                      "equipment": "C-306",
                      "creationDate": "2024-05-27T08:10:37.675958Z",
                      "lastModificationDate": "2024-05-27T08:10:37.675958Z",
                      "startDate": "2024-06-27T08:10:37.675958Z",
                      "endDate": "2024-06-28T08:10:37.675958Z",
                      "domain": "EP",
                      "status": "ASKED",
                      "category": "PREV"
                    },
                    {
                      "id": "DI00001935@1234567890",
                      "equipment": "FL-222",
                      "creationDate": "2024-04-27T08:10:37.675958Z",
                      "lastModificationDate": "2024-04-28T08:10:37.675958Z",
                      "startDate": "2024-05-02T08:10:37.675958Z",
                      "endDate": "2024-05-04T08:10:37.675958Z",
                      "domain": "EP",
                      "status": "DONE",
                      "category": "CURA"
                    }
                  ]
      responses:
        "204":
          description: No content
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidEquipment:
                  description: Occurs when equipment not exist
                  value: |
                    {
                        "code": 400,
                        "message": "Equipment with code 'C-306' not exists"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
      security:
        - oidc:
            - authenticated
    get:
      tags:
        - Service Controller
      summary: Retrieve all services
      operationId: com.provoly.equipment.ServiceController_getServices
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "200":
          description: Returns services details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "id": "c538a660-6450-4281-9fa9-c925f340eb54",
                        "externalId": "technical_unique_id",
                        "name": "C306",
                        "code": "C306",
                        "family": "Armoire",
                        "entity": "FAGNIERES-COMMUN",
                        "parent": {
                          "id": "c6cfac35-0939-4bb0-860e-fb00c6ff0ed7",
                          "externalId": "technical_unique_id2",
                          "name": "C307",
                          "code": "C307",
                          "family": "Armoire",
                          "domain": "EP",
                          "entity": "FAGNIERES-COMMUN",
                          "parent": null,
                          "activeEnergy": 70
                        },
                        "activeEnergy": 30
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /services/external/id/{actionId}:
    post:
      tags:
        - Service Controller
      summary: Create external service for an Asked Service Action
      description: |
        Generate External service and send it to external service application : Coswin. 
        It returns a service code which will be set in `serviceExternalId` property in action.
      operationId: com.provoly.equipment.ServiceController_createExternalService
      parameters:
        - name: actionId
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          example: 01ffde9d-30d2-4273-b61f-c6addd8747c8
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ExternalServiceWriteDto'
            examples:
              default:
                summary: Create external service with equipment
                value: |
                  {
                    "name": "my external service",
                    "equipment": "e0b38641-3ff1-495e-b26c-2cb78f1d0c09",
                    "priority": "1-MINEUR",
                    "type": "Luminaire - Accidente menacant de tomber",
                    "description": "description"
                  }
      responses:
        "204":
          description: No content
        "400":
          description: Bad Request
          content:
            application/json:
              examples:
                invalidActionType:
                  description: Occurs when action is not of type `ASKED_SERVICE`
                invalidPropertyValue:
                  description: Occurs when `priority` or `type` have invalid values
                invalidEquipment:
                  description: Occurs when equipment not exist
                external:
                  description: Occurs when external application triggers an error
                  value: |
                    {
                        "code": 400,
                        "message": "Message from external application"
                    }
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if missing a required property
        "404":
          description: Action not found
      security:
        - oidc:
            - authenticated
  /servicesType:
    get:
      tags:
        - ServiceType Controller
      summary: Retrieve all service type. It's possible to filter on domain
      operationId: com.provoly.equipment.ServiceTypeController_getServiceTypes
      parameters:
        - name: domain
          in: query
          schema:
            type: string
          example: EP
      responses:
        "401":
          description: Not Authorized
        "403":
          description: Forbidden if page not specified
        "200":
          description: Returns service types details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTypeReadDto'
              examples:
                default:
                  value: |
                    [
                      {
                        "type": "Armoire accidentee",
                        "gti": 2,
                        "gtr": 3,
                        "gtrp": "null",
                        "domain": "EP"
                      },
                      {
                        "type": "Camera accidentee",
                        "gti": 4,
                        "gtr": "null",
                        "gtrp": 18,
                        "domain": "VP"
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/EP:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from EP domain with event metrics
      description: |
        Returns the number of cabinets, light fittings and unmanaged equipment connected to 
        at least one event that has not been closed, the number of services requested for this equipment, 
        and the number of services in progress.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getEpEquipmentWithEvent
      parameters:
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: category
          in: query
          schema:
            items:
              type: string
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "400":
          description: Entity/Criticality/Category Not found, Or place is not a valide City/District
        "401":
          description: Not Authorized
        "200":
          content:
            description: Returns Equipments with events
            application/json:
              schema:
                $ref: '#/components/schemas/EpEquipmentWithEventDto'
              examples:
                default:
                  value: |
                    {
                      "nbEquipWithEvent_A": 0,
                      "totalEquipWithEvent_A": 2,
                      "nbServiceTodoWithEquip_A": 0,
                      "nbServiceInProgressWithEquip_A": 0,
                      "nbEquipWithEvent_FL": 2,
                      "totalEquipWithEvent_FL": 1,
                      "nbServiceTodoWithEquip_FL": 0,
                      "nbServiceInProgressWithEquip_FL": 0,
                      "nbEquipWithEvent_unmanaged": 0,
                      "totalEquipWithEvent_unmanaged": 4,
                      "nbServiceTodoWithEquip_unmanaged": 0,
                      "nbServiceInProgressWithEquip_unmanaged": 0
                    }
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/EP/detailed:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from EP domain with event metrics
      description: |
        Similar to the endpoint `/metrics/equipments-with-events/EP` but the number of events is grouped by category and includes the "MANIFESTATION" category.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getEpEquipmentWithEventDetailed
      responses:
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpEquipmentWithEventDetailedDto'
              examples:
                default:
                  value: |
                    {
                      "nbEquipWithEvent_A": 0,
                      "totalEquipWithEvent_A": 4,
                      "nbServiceTodoWithEquip_A": 0,
                      "nbServiceInProgressWithEquip_A": 0,
                      "nbEquipWithEvent_FL": 1,
                      "totalEquipWithEvent_FL": 2,
                      "nbServiceTodoWithEquip_FL": 0,
                      "nbServiceInProgressWithEquip_FL": 0,
                      "nbEquipWithEvent_unmanaged": 0,
                      "totalEquipWithEvent_unmanaged": 3,
                      "nbServiceTodoWithEquip_unmanaged": 0,
                      "nbServiceInProgressWithEquip_unmanaged": 0,    
                      "limit": {
                        "nbEquipWithEvent_A": 0,
                        "nbEquipWithEvent_FL": 1,
                        "nbEquipWithEvent_unmanaged": 0
                      },
                      "anomaly": {
                        "nbEquipWithEvent_A": 0,
                        "nbEquipWithEvent_FL": 0,
                        "nbEquipWithEvent_unmanaged": 0
                      },
                      "manifestation": {
                        "nbEquipWithEvent_A": 0,
                        "nbEquipWithEvent_FL": 1,
                        "nbEquipWithEvent_unmanaged": 0
                      },
                      "outoforder": {
                        "nbEquipWithEvent_A": 0,
                        "nbEquipWithEvent_FL": 1,
                        "nbEquipWithEvent_unmanaged": 0
                      }
                    }


      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/VP:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from VP domain with event metrics
      description: |
        Returns the number of Cameras connected to at least one event that has not been closed, 
        the number of services requested for this equipment,
        and the number of services in progress.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getVpEquipmentWithEvent
      parameters:
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: category
          in: query
          schema:
            items:
              type: string
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "400":
          description: Entity/Criticality/Category Not found, Or place is not a valide City/District
        "401":
          description: Not Authorized
        "200":
          content:
            description: Returns VP Equipments with events
            application/json:
              schema:
                $ref: '#/components/schemas/VpEquipmentWithEventDto'
              examples:
                default:
                  value: |
                    {
                      "nbEquipWithEvent_C": 0,
                      "totalEquipWithEvent_C": 2,
                      "nbServiceTodoWithEquip_C": 0,
                      "nbServiceInProgressWithEquip_C": 0
                    }
      security:
        - oidc:
            - authenticated
  /metrics/equipments-with-events/VP/detailed:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments from VP domain with event metrics
      description: |
        Similar to the endpoint `/metrics/equipments-with-events/VP` but the number of events is grouped by category and includes the "MANIFESTATION" category.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getVpEquipmentWithEventDetailed
      responses:
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpEquipmentWithEventDetailedDto'
              examples:
                default:
                  value: |
                    {
                      "nbEquipWithEvent_C": 1,
                      "totalEquipWithEvent_C": 2,
                      "nbServiceTodoWithEquip_C": 0,
                      "nbServiceInProgressWithEquip_C": 0,                      
                      "limit": {
                        "nbEquipWithEvent_C": 1
                      },
                      "anomaly": {
                        "nbEquipWithEvent_C": 0
                      },
                      "manifestation": {
                        "nbEquipWithEvent_C": 1
                      },
                      "outoforder": {
                        "nbEquipWithEvent_C": 1
                      }
                    }

      security:
        - oidc:
            - authenticated
  /metrics/equipments-by-entity:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve equipments by entity for `EP` domain
      description: |
        Returns the number of equipments for `EP` domain in a given family grouped by entity. 
        The number of managed equipments is separated from the number of unmanaged equipments.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getTotalEquipmentsByEntity
      parameters:
        - name: family
          in: path
          schema:
            type: string
          example: EP_FL
          required: true
      responses:
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentsByEntity'
              examples:
                default:
                  value: |
                    {
                      "CHA_managed": 0,
                      "CHA_unmanaged": 0,
                      "CH_managed": 0,
                      "CH_unmanaged": 0,
                      "FAGN_managed": 2,
                      "FAGN_unmanaged": 1,
                      "SMP_managed": 0,
                      "SMP_unmanaged": 0
                    }
      security:
        - oidc:
            - authenticated
  /metrics/events-by-equipments:
    get:
      tags:
        - Metrics Controller
      summary: Retrieve first n events count by equipments
      description: |
        It's possible to filter on category, domain, and count events that was created after a specific date. Limit is set to 10 but it can be changed.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getTotalEquipmentsByEntity
      parameters:
        - name: domain
          in: query
          schema:
            type: string
          example: VP
        - name: category
          in: query
          schema:
            type: string
          example: ANOMALY
        - name: date
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
          example: 2024-05-28T08:10:00Z
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          example: 10
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          description: Must match family from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "401":
          description: Not Authorized
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsByEquipment'
              examples:
                default:
                  value: |
                    [
                      {
                        "code": "camera1",
                        "address": "1 rue Chalons",
                        "city": "CH",
                        "count": 1
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /services/closed/{interval}:
    get:
      tags:
        - Metrics Controller
      summary: |
        Returns an aggregation of services
      description: |
        Aggregates the number of `DONE` services over a given interval and over a number of buckets from a given date.
      operationId: com.provoly.metrics.MetricsController_getTotalEquipmentsByEntity
      parameters:
        - name: interval
          description: must be one of `hour`,`day`,`week`,`month`,`quarter`,`year`
          in: path
          schema:
            type: string
          example: month
          required: true
        - name: date
          description: The timezoned reference date for building the aggregation over the last n intervals
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
          example: 2024-05-28T08:10:00Z
        - name: buckets
          description: Number of buckets. Default to `24`. Must be a positive number.
          in: query
          schema:
            type: integer
          example: 12
        - name: domain
          in: query
          schema:
            type: string
        - name: entity
          in : query
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          schema:
            type: array
            items:
              type: string
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "401":
          description: Not Authorized
        "400":
          description: Invalid interval, entity, family code, or city/district
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedService'
              examples:
                default:
                  value: |
                    [
                      {
                        "start": "2023-05-01T00:00:00Z",
                        "count": 3
                      },
                      {
                        "start": "2024-01-01T00:00:00Z",
                        "count": 2
                      },
                      {
                        "start": "2024-03-01T00:00:00Z",
                        "count": 4
                      },
                      {
                        "start": "2024-05-01T00:00:00Z",
                        "count": 1
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /events/anomaly:
    get:
      tags:
        - Metrics Controller
      summary: |
        Count open events grouped by anomaly's subcategories
      description: |
        It's possible to filter on event creation date, event status. If creation date is set, then ignore Done events.
        If a domain filter is set, count all events linked to a equipment with this domain.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getAnomalyEventsGroupedBySubCategories
      parameters:
        - name: date
          description: event creation date
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
          example: 2024-01-20T00:00:00Z
        - name: domain
          description: domain from equipment linked to event
          in: query
          schema:
            type: string
        - name: status
          in: query
          description: event status
          schema:
            $ref: '#/components/schemas/Status'
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          description: Must match family from equipment
          schema:
            type: array
            items:
              type: string
        - name: equipment
          in : query
          description: Must match equipment name to get anomalies count for this equipment
          schema:
            type: string
      responses:
        "401":
          description: Not Authorized
        "400":
          description: Invalid domain, date, status, or other filters
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyCount'
              examples:
                default:
                  value: |
                    {
                      "UNUSUAL_FLOW": 0,
                      "WILD_STORAGE": 1,
                      "TRAFFIC_CONGESTION": 0
                    }
      security:
        - oidc:
            - authenticated
  /events/anomalies-by-entity:
    get:
      tags:
        - Metrics Controller
      summary: |
        Count events linked by equipment grouped by anomaly's subcategories and equipment entities
      description: |
        It's possible to filter on equipment domain and set start date to filter on events created from this date.
        Filter on equipments without `deleted` property.
      operationId: com.provoly.metrics.MetricsController_getAnomalyEventsGroupedBySubCategoriesAndEntities
      parameters:
        - name: startDate
          description: filter on events created from this date
          in: query
          schema:
            type: string
            example: 2024-01-20T00:00:00Z
        - name: domain
          description: domain from equipment linked to event
          in: query
          schema:
            type: string
      responses:
        "401":
          description: Not Authorized
        "400":
          description: Invalid domain, date or other filter
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyQueryResult'
              examples:
                default:
                  value: |
                    [
                      {
                        "entity": "AGGLO-COMMUN",
                        "subCategory": "UNUSUAL_FLOW",
                        "count": 0
                      },
                      {
                        "entity": "AGGLO-COMMUN",
                        "subCategory": "TRAFFIC_CONGESTION",
                        "count": 0
                      },
                      {
                        "entity": "AGGLO-COMMUN",
                        "subCategory": "WILD_STORAGE",
                        "count": 0
                      },
                      {
                        "entity": "CHALONS-COMMUN",
                        "subCategory": "UNUSUAL_FLOW",
                        "count": 0
                      },
                      {
                        "entity": "CHALONS-COMMUN",
                        "subCategory": "TRAFFIC_CONGESTION",
                        "count": 0
                      },
                      {
                        "entity": "CHALONS-COMMUN",
                        "subCategory": "WILD_STORAGE",
                        "count": 0
                      },
                      {
                        "entity": "FAGNIERES-COMMUN",
                        "subCategory": "UNUSUAL_FLOW",
                        "count": 0
                      },
                      {
                        "entity": "FAGNIERES-COMMUN",
                        "subCategory": "TRAFFIC_CONGESTION",
                        "count": 0
                      },
                      {
                        "entity": "FAGNIERES-COMMUN",
                        "subCategory": "WILD_STORAGE",
                        "count": 0
                      },
                      {
                        "entity": "SAINT-MARTIN-COMMUN",
                        "subCategory": "UNUSUAL_FLOW",
                        "count": 0
                      },
                      {
                        "entity": "SAINT-MARTIN-COMMUN",
                        "subCategory": "TRAFFIC_CONGESTION",
                        "count": 0
                      },
                      {
                        "entity": "SAINT-MARTIN-COMMUN",
                        "subCategory": "WILD_STORAGE",
                        "count": 0
                      }
                    ]
      security:
        - oidc:
            - authenticated
  /aggregate/anomalies/{interval}:
    get:
      tags:
        - Metrics Controller
      summary: |
        Returns an aggregation of anomaly events
      description: |
        Aggregates the number of `ANOMALY` events over a given interval and over a number of buckets from a given start date.
        Results are grouped by subcategories
      operationId: com.provoly.metrics.MetricsController_aggregateAnomaliesEvents
      parameters:
        - name: interval
          description: must be one of `hour`,`day`,`week`,`month`,`quarter`,`year`
          in: path
          schema:
            type: string
          example: month
          required: true
        - name: startDate
          description: The timezoned reference date for building the aggregation over the last n intervals
          in: query
          schema:
            type: integer
          example: 2024-05-28T08:10:00Z
        - name: buckets
          description: Number of buckets. Default to `12`. Must be a positive number.
          in: query
          schema:
            type: integer
          example: 12
        - name: domain
          in: query
          schema:
            type: string
        - name: entity
          in: query
          schema:
            type: array
            items:
              type: string
        - name: criticality
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Criticality'
        - name: place
          in: query
          description: Must match city or district value from equipment
          schema:
            type: array
            items:
              type: string
        - name: family
          in: query
          description: Must match family from equipment
          schema:
            type: array
            items:
              type: string
      responses:
        "401":
          description: Not Authorized
        "400":
          description: Invalid interval, domain, bucket or startDate
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedService'
              examples:
                default:
                  value: |
                    [
                      {
                        "start": "2023-05-01T00:00:00Z",
                        "code": "UNUSUAL_FLOW",
                        "count": 3
                      },
                      {
                        "start": "2024-01-01T00:00:00Z",
                        "code": "UNUSUAL_FLOW",
                        "count": 2
                      },
                      {
                        "start": "2024-03-01T00:00:00Z",
                        "code": "WILD_STORAGE",
                        "count": 4
                      },
                      {
                        "start": "2024-05-01T00:00:00Z",
                        "code": "TRAFFIC_CONGESTION",
                        "count": 1
                      }
                    ]
      security:
        - oidc:
            - authenticated
components:
  securitySchemes:
    oidc:
      type: openIdConnect
      description: Authentication
      openIdConnectUrl: https://auth/realms/provoly/.well-known/openid-configuration
  schemas:
    UUID:
      format: uuid
      pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
      type: string
      example: "ebbfbbd1-b8de-467c-8a9b-88443a49f807"
      required: true
    DateTime:
      format: date-time
      type: string
      example: "2024-02-20T08:33:14.312632Z"
    Criticality:
      type: string
      required: true
      enum:
        - LOW
        - MEDIUM
        - HIGH
    Status:
      type: string
      required: true
      enum:
        - NEW
        - IN_PROGRESS
        - DONE
    ActionType:
      type: string
      required: true
      enum:
        - SMS
        - PHONE
        - EMAIL
        - ASKED_SERVICE
        - ORDER
    EventSort:
      type: string
      enum:
        - creationDate
        - lastModificationDate
        - status
        - procedureProgress
        - criticality
        - name
        - category
        - id
        - source
    ProcedureModelSort:
      type : string
      enum:
        - id
        - useCount
        - name
        - creator
        - creationDate
        - lastModificationDate
        - domain
    SortOrder:
      type: string
      enum:
        - ASC
        - DESC
      default: ASC
    Priority:
      type: string
      required: true
      enum:
        - 1-MINEUR
        - 2-MAJEUR
        - 3-BLOQUANT
    Family:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
    EquipmentEntity:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    CustomActionType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    ServiceWriteDto:
      type: object
      properties:
        id:
          type: string
          required: true
        description:
          type: string
        equipment:
          type: string
          required: true
        creationDate:
          type: date
          required: true
        lastModificationDate:
          type: date
          required: true
        startDate:
          type: date
        endDate:
          type: date
        closeDate:
          type: date
        domain:
          type: string
          required: true
        status:
          type: string
          required: true
        category:
          type: string
          required: true
    ServiceReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        technical_id:
          type: string
        description:
          type: string
        equipment:
          $ref: '#/components/schemas/EquipmentShortDto'
        creationDate:
          type: date
        lastModificationDate:
          type: date
        startDate:
          type: date
        endDate:
          type: date
        domain:
          type: string
        status:
          type: string
        category:
          type: string
    ExternalServiceWriteDto:
      type: object
      properties:
        name:
          type: string
        equipment:
          type : '#/components/schemas/UUID'
        priority:
          $ref: '#/components/schemas/Priority'
        description:
          type: string
    ServiceTypeReadDto:
      type: object
      properties:
        type:
          type: string
        domain:
          type: string
        gti:
          type : integer
        gtr:
          type: integer
        gtrp:
          type: integer
    EquipmentWriteDto:
      type: object
      additionalProperties: true
      properties:
        id:
          type: object
          description: | 
            contains a map of external ids like : {SOURCE1: id1, SOURCE2: id2}
          required: true
        code:
          type: string
          required: true
        name:
          type: string
          required: true
        family:
          type: string
          required: true
          description: Value must match one of `Family` name
        domain:
          type: string
          required: true
          description: Value must match one of `Domain` name
        entity:
          type: string
          required: true
          description: Value must match one of `Equipment Entity` name
        city:
          type: string
          required: true
          description: Value must match one of `City` name
        district:
          type: string
          description: Value must match one of `District` name
        address:
          type: string
          required: true
        deleted:
          type: boolean
          default: false
          description: if true then the equipment will not be counted in the metrics and will not be returned
        level:
          type: integer
          required: true
          description: Corresponds to the level to determine whether it will have a parent or not. If the value is 1, then it can be referenced in children equipments and will not itself have a parent equipment.
        parent:
          type: string
          description: The value must be the parent `code` property
    EquipmentReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        externalId:
          type: string
        code:
          type: string
        name:
          type: string
        family:
          type: string
          description: Value match one of `Family` name
        domain:
          type: string
          description: Value match one of `Domain` name
        entity:
          type: string
          description: Value match one of `Equipment Entity` name
        city:
          type: string
          description: Value must match one of `City` name
        district:
          type: string
          description: Value must match one of `District` name
        address:
          type: string
        deleted:
          type: boolean
          default: false
          description: |
            If true then the equipment will not be counted in the metrics and will not be returned. 
            It can be reachable by getting by id.
        parent:
          $ref: '#/components/schemas/EquipmentReadDto'
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventReadDto'
    EquipmentShortDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        code:
          type: string
        family:
          type: string
          description: Value match one of `Family` name
        entity:
          type: string
          description: Value match one of `Equipment Entity` name
    ActionWriteDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          required: true
        type:
          type: string
          required: true
        status:
          $ref: '#/components/schemas/Status'
          required: true
    EmailActionWriteDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          required: true
        type:
          type: string
          required: true
        status:
          $ref: '#/components/schemas/Status'
          required: true
        name:
          type: string
          required: true
        email:
          type: string
          required: true
    PhoneActionWriteDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          required: true
        type:
          type: string
          required: true
        status:
          $ref: '#/components/schemas/Status'
          required: true
        name:
          type: string
          required: true
        phone:
          type: string
          required: true
    OtherActionWriteDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          required: true
        type:
          type: string
          required: true
        status:
          $ref: '#/components/schemas/Status'
          required: true
        name:
          type: string
          required: true
    AskedServiceWriteDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
          required: true
        type:
          type: string
          required: true
        status:
          $ref: '#/components/schemas/Status'
          required: true
        name:
          type: string
          required: true
        externalServiceId:
          type: string
    ActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
    EmailActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        name:
          type: string
          required: true
        email:
          type: string
          required: true
    PhoneActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        name:
          type: string
          required: true
        phone:
          type: string
          required: true
    OtherActionReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
        status:
          $ref: '#/components/schemas/Status'
        lastModificationDate:
          $ref: '#/components/schemas/DateTime'
        name:
          type: string
          required: true
    AskedServiceReadDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        type:
          type: string
        status:
[...]
